<md-card ng-controller="UsersController as vm">
    <md-card-content>

        <div layout="row" layout-align="space-between center">
            <h3 class="md-title" flex>{{ 'USER.USERS' | translate }}</h3>
            <opene-filter-search flex="15" 
                option-label="vm.optionLabel"
                option-value="vm.optionValue"
                select-options="vm.selectOptions"
                finished="vm.filterCallback">
            </opene-filter-search>
        </div>

        <table>
            <thead>
            <tr>
                <th>{{ 'USER.USERNAME' | translate }}</th>
                <th>{{ 'USER.FIRST_NAME' | translate }}</th>
                <th>{{ 'USER.LAST_NAME' | translate }}</th>
                <th>{{ 'COMMON.ACTION' | translate }}</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="user in vm.allSystemUsers" ng-if="user.userName!='guest'" class="{{user.enabled ? 'enabled' : 'muted'}}">
            <td>{{user.userName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>
                    <md-button class="md-primary" ng-click="vm.editUser($event, user)" aria-label="Edit user">
                        {{ 'USER.EDIT_USER' | translate }}
                    </md-button>
                    <md-button class="md-primary" ng-if="user.userName !== 'admin'" ng-click="vm.deleteUser($event, user)" aria-label="Delete user">
                        {{ 'COMMON.DELETE' | translate }}
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-card-content>
    <div class="md-actions" layout="row">
        <md-button class="md-primary" ng-click="vm.createUser($event)" aria-label="Create new user">
            {{ 'USER.CREATE_USER' | translate }}
        </md-button>
        <md-button class="md-primary" ng-click="vm.showCSVUploadDialog($event)" aria-label="Upload users">
            {{ 'USER.UPLOAD_USERS' | translate }}
        </md-button>
    </div>
</md-card>