<md-dialog class="dialog-large" aria-label="User dialog">
    <form name="ucd.userForm" novalidate>
        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2>{{ucd.dialogMode| translate}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
            <div layout>
                <md-input-container flex>
                    <label>{{ 'USER.FIRST_NAME' | translate }} *</label>
                    <input type="text" name="firstName" ng-model="ucd.user.cm.firstName" required md-autofocus>
                    <opene-error form="ucd.userForm" field="ucd.userForm.firstName"></opene-error>
                </md-input-container>

                <md-input-container flex>
                    <label>{{ 'USER.LAST_NAME' | translate }} *</label>
                    <input type="text" name="lastName" ng-model="ucd.user.cm.lastName" required>
                    <opene-error form="ucd.userForm" field="ucd.userForm.lastName"></opene-error>
                </md-input-container>
            </div>

            <div layout>
                <md-input-container flex>
                    <label>{{ 'COMMON.EMAIL' | translate }} *</label>
                    <input type="email" ng-model="ucd.user.cm.email" name="email" required ng-change="ucd.clearFieldValidation(ucd.userForm.email)">
                    <opene-error form="ucd.userForm" field="ucd.userForm.email"></opene-error>
                </md-input-container>
            </div>

            <div layout>
                <md-input-container flex="50">
                    <label>{{ 'LOGIN.USER_NAME' | translate }} *</label>
                    <input type="text" name="userName" ng-model="ucd.user.cm.userName" required ng-disabled="ucd.userExists" 
                           ng-change="ucd.clearFieldValidation(ucd.userForm.userName)">
                    <opene-error form="ucd.userForm" field="ucd.userForm.userName"></opene-error>
                </md-input-container>

                <div ng-show="ucd.userExists" flex="25">
                    <md-checkbox ng-model="ucd.user.enabled" ng-true-value="false" ng-false-value="true" 
                                 aria-label="disable account" class="md-warn">
                        {{ 'USER.DISABLE_ACCOUNT' | translate }}
                    </md-checkbox>
                </div>
                <div flex="25">
                    <md-checkbox ng-model="ucd.user.cm.emailFeedDisabled" ng-true-value="false" ng-false-value="true" 
                                 aria-label="enable email feed" class="md-warn">
                        {{ 'USER.EMAIL_FEED_ENABLED' | translate }}
                    </md-checkbox>
                </div>
            </div>

            <div layout ng-show="!ucd.userExists">
                <md-input-container flex>
                    <label>{{ 'LOGIN.PASSWORD' | translate }} *</label>
                    <input type="password" name="password" ng-model="ucd.user.usr.password" ng-required="!ucd.userExists || undefined">
                    <opene-error form="ucd.userForm" field="ucd.userForm.password"></opene-error>
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'LOGIN.VERIFY_PASSWORD' | translate }} *</label>
                    <input type="password" ng-model="ucd.user.verifypassword" opene-equals="ucd.user.usr.password" 
                           ng-required="!ucd.userExists || undefined" name="verify">
                    <opene-error form="ucd.userForm" field="ucd.userForm.verify"></opene-error>
                </md-input-container>
            </div>

            <div layout>
                <md-input-container flex>
                    <label>{{ 'COMMON.DESCRIPTION' | translate }}</label>
                    <textarea ng-model="ucd.user.cm.description"></textarea>
                </md-input-container>
            </div>

            <div class="opene-autocomplete-wrapper" layout>
                <opene-autocomplete 
                    datasource="ucd.user.assoc.manager" 
                    controller-name="AuthoritySelectorController" 
                    name="assocManager" 
                    label="{{ 'USER.MANAGER' | translate }}"
                    remove-item="ucd.userExists ? ucd.user.cm.userName: ''">
                </opene-autocomplete>
                <opene-error form="ucd.userForm" field="ucd.userForm.assocManager"></opene-error>
            </div>
            <div layout ng-if="ucd.user.addo">
                <md-input-container flex>
                    <label>{{ 'ADDO.USER.USERNAME' | translate }}</label>
                    <input type="text" name="addoUsername" autocomplete="off"
                           ng-model="ucd.user.addo.addoUsername" 
                           ng-required="ucd.user.addo && ucd.user.addo.addoPassword"
                           ng-click="ucd.userForm.addoPassword.$setTouched()"
                           ng-change="ucd.clearFieldValidation(ucd.userForm.addoUsername); ucd.clearFieldValidation(ucd.userForm.addoPassword)">
                    <opene-error form="ucd.userForm" field="ucd.userForm.addoUsername"></opene-error>
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'ADDO.USER.PASSWORD' | translate }}</label>
                    <input type="password" name="addoPassword" autocomplete="off"
                           ng-model="ucd.user.addo.addoPassword" 
                           ng-required="ucd.user.addo && ucd.user.addo.addoUsername && ucd.userForm.addoUsername.$touched"
                           ng-click="ucd.userForm.addoUsername.$setTouched()"
                           ng-change="ucd.clearFieldValidation(ucd.userForm.addoUsername); ucd.clearFieldValidation(ucd.userForm.addoPassword)">
                </md-input-container>
            </div>

        </md-dialog-content>
        <md-dialog-actions>
            <md-button id="create-user-dialog-ok-btn" type="submit" class="md-primary" 
                       ng-click="ucd.update(ucd.user)" ng-disabled="ucd.userForm.$invalid">
                {{ucd.dialogMode| translate}}
            </md-button>
            <md-button id="create-user-dialog-cancel-btn" type="button" ng-click="ucd.cancel(ucd.userForm)">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
