<md-toolbar id="global-toolbar">
  <div class="md-toolbar-tools" layout="row">

    <div flex flex-gt-md="40" layout="row" layout-align="start center">
      <a class="md-button" ui-sref="dashboard">{{ 'COMMON.HOME' | translate }}</a>
      <a class="md-button" ui-sref="cases">{{ 'CASE.CASES' | translate }}</a>
      <a class="md-button" ui-sref="tasks">{{ 'TASK.TASKS' | translate }}</a>
    </div>

    <md-input-container id="global-search" flex="25" flex-gt-md>
      <label title="{{ 'SEARCH.SEARCH' | translate }}"><i class="material-icons" style="vertical-align: bottom;">search</i></label>
      <input type="text">
    </md-input-container>  

    <md-menu ng-controller="AuthController as vm" flex="25" flex-gt-md="40" layout="row" layout-align="end center" md-position-mode="target-right target">
      <md-button aria-label="{{ 'MENU.OPEN_MENU' | translate }}" ng-click="$mdOpenMenu($event)" style="text-transform: capitalize;">
        {{ vm.getUserInfo().user.firstName }} <span hide show-gt-md>{{ vm.getUserInfo().user.lastName }}</span> <i class="material-icons" style="vertical-align: middle;">more_vert</i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-disabled="true">
            {{ 'MENU.VIEW_PROFILE' | translate }}
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="administration">
            {{ 'ADMIN.ADMINISTRATION' | translate }}
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="vm.logout()">
            {{ 'MENU.LOGOUT' | translate }}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

  </div>
</md-toolbar>
