<md-toolbar layout="row" id="global-toolbar">
      <div class="md-toolbar-tools">

        <a class="md-button" ui-sref="dashboard">{{ 'COMMON.HOME' | translate }}</a>
        <a class="md-button" ui-sref="cases">{{ 'CASE.CASES' | translate }}</a>
        <a class="md-button" ui-sref="tasks">{{ 'TASK.TASKS' | translate }}</a>
        <a class="md-button" ui-sref="administration">{{ 'ADMIN.ADMINISTRATION' | translate }}</a>

        <md-input-container>
          <label>{{ 'SEARCH.SEARCH' | translate }}</label>
          <input type="text">
        </md-input-container>

        <md-menu ng-controller="AuthController as vm">
          <md-button aria-label="{{ 'MENU.OPEN_MENU' | translate }}" ng-click="$mdOpenMenu($event)">
            {{vm.getUserInfo().user.firstName}} {{vm.getUserInfo().user.lastName}}
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-disabled="true">
                {{ 'MENU.VIEW_PROFILE' | translate }}
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="vm.logout()">
                {{ 'MENU.LOGOUT' | translate }}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>
