<md-toolbar layout="row" id="global-toolbar">
      <div class="md-toolbar-tools">

        <a class="md-button" ui-sref="dashboard">{{ 'HOME' | translate }}</a>
        <a class="md-button" ui-sref="cases">{{ 'CASEINFO.CASES' | translate }}</a>
        <a class="md-button" ui-sref="tasks">{{ 'task.tasks' | translate }}</a>
        <a class="md-button" ui-sref="administration">Administration</a>

        <md-input-container>
          <label>{{ 'search.search' | translate }}</label>
          <input type="text">
        </md-input-container>
        
        <md-menu ng-controller="LanguageMenuController as languages">
            <md-button ng-click="$mdOpenMenu($event)">
                {{'language.language' | translate}} ({{'language.' + languages.currentLanguage | translate}})
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat-start="langKey in languages.availableLangKeys">
                  <md-button ng-click="languages.setLanguage(langKey)" ng-disabled="langKey == languages.currentLanguage">
                    {{'language.' + langKey | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-divider ng-repeat-end></md-menu-divider>                
            </md-menu-content>
        </md-menu>

        <md-menu ng-controller="AuthController as vm">
          <md-button aria-label="{{ 'menu.openmenu' | translate }}" ng-click="$mdOpenMenu($event)">
            {{vm.getUserInfo().user.firstName}} {{vm.getUserInfo().user.lastName}}
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-disabled="true">
                {{ 'menu.viewprofile' | translate }}
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="vm.logout()">
                {{ 'menu.logout' | translate }}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>
