<md-dialog class="dialog-small" aria-label="{{ 'FILE.ASSIGN_FILE' | translate }}">
    <form name="assignFileForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'FILE.ASSIGN_FILE' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" class="opene-autocomplete-wrapper">
                <opene-autocomplete 
                    datasource="assignFileVm.owner" 
                    controller-name="AuthoritySelectorController" 
                    required="true"
                    name="authority" 
                    label="{{'CASE.OWNER'| translate}} *" 
                    remove-item="assignFileVm.currentUser">
                </opene-autocomplete>
                <opene-error form="assignFileForm" field="assignFileForm.authority"></opene-error>
                <md-input-container>
                    <label>{{ 'COMMON.COMMENT' | translate }}</label>
                    <textarea ng-model="assignFileVm.comment" rows="5" columns="1"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="submit" class="md-primary" ng-disabled="assignFileForm.$invalid" ng-click="assignFileVm.assignFile()" >
                {{ 'COMMON.ADD' | translate }}
            </md-button>
            <md-button ng-click="assignFileVm.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
