<md-dialog class="dialog-large" aria-label="{{ 'LOGIN.FORGOT_PASSWORD' | translate }}" class="forgot-password-form">
    <form name="dlg.form" novalidate>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column">

            <p ng-if="!dlg.emailSent">
                {{'LOGIN.FORGOT_PASSWORD_PROMPT' | translate}}
            </p>

            <p ng-if="dlg.emailSent">
                {{'LOGIN.FORGOT_PASSWORD_SUCCESS' | translate}}
            </p>

            <md-input-container ng-if="!dlg.emailSent" flex="grow">
                <label>{{ 'COMMON.EMAIL' | translate }}</label>
                <input type="email" ng-model="dlg.email" name="email" required autofocus ng-change="dlg.updateValidators()">
                <opene-error field="dlg.form.email"></opene-error>
            </md-input-container>
          
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" ng-click="dlg.forgotPassword()" ng-if="!dlg.emailSent" ng-disabled="form.$invalid">
                {{ 'COMMON.SEND' | translate }}
            </md-button>
            <md-button ng-click="dlg.cancel()">
                {{ dlg.emailSent ? 'COMMON.CLOSE' : 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>