<md-dialog class="dialog-small" aria-label="">
    <form name="dlg.form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">

            <p ng-if="!dlg.emailSent">
                {{'LOGIN.FORGOT_PASSWORD_PROMPT' | translate}}
            </p>

            <p ng-if="dlg.emailSent">
                {{'LOGIN.FORGOT_PASSWORD_SUCCESS' | translate}}
            </p>

            <md-input-container flex ng-if="!dlg.emailSent">
                <label>{{ 'COMMON.EMAIL' | translate }}</label>
                <input type="email" ng-model="dlg.email" name="email" required autofocus ng-change="dlg.updateValidators()">
                <div ng-messages="dlg.form.email.$error" ng-if="dlg.form.email.$dirty" role="alert">
                    <div ng-message="email">{{ 'LOGIN.INVALID_EMAIL' | translate }}</div>
                    <div ng-message="notExist">{{dlg.form.email.$error.errMessage}}</div>
                    <div ng-message="required">{{ 'COMMON.FILL_ALL_REQUIRED_FIELDS' | translate }}</div>
                </div>
            </md-input-container>
            
          
        </md-dialog-content>
        <div class="md-actions">
            <md-button class="md-primary" ng-click="dlg.forgotPassword()" 
                        ng-if="!dlg.emailSent"
                        ng-disabled="form.$invalid">
            {{ 'COMMON.SEND' | translate }}
            </md-button>
            <md-button ng-click="dlg.cancel()">
            {{ dlg.emailSent ? 'COMMON.CLOSE' : 'COMMON.CANCEL' | translate }}
            </md-button>
        </div>
    </form>
</md-dialog>