<md-dialog aria-label="" class="forgot-password-form">
    <form name="dlg.form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding style="max-width: 300px;">

            <p ng-if="!dlg.emailSent">
                Enter your email address and we'll send you information regarding how to reset 
                your password.
            </p>

            <p ng-if="dlg.emailSent">
                We sent you an email. Follow the instructions in the email. 
            </p>

            <md-input-container ng-if="!dlg.emailSent">
                <label>{{ 'COMMON.EMAIL' | translate }}</label>
                <input type="email" ng-model="dlg.email" name="email" required autofocus ng-change="dlg.updateValidators()">
                <div ng-messages="dlg.form.email.$error" ng-if="dlg.form.email.$dirty" role="alert">
                    <div ng-message="email">{{ 'LOGIN.INVALID_EMAIL' | translate }}</div>
                    <div ng-message="notExist">The email address doesn't exist in the system</div>
                    <div ng-message="required">{{ 'COMMON.FILL_ALL_REQUIRED_FIELDS' | translate }}</div>
                </div>
                <pre ng-bind="dlg.form.email.$error | json"></pre>
            </md-input-container>
            
          
        </md-dialog-content>
        <div class="md-actions">
            <md-button class="md-primary" ng-click="dlg.forgotPassword()" 
                        ng-if="!dlg.emailSent"
                        ng-disabled="form.$invalid">
            {{ 'COMMON.SEND' | translate }}
            </md-button>
            <md-button ng-click="dlg.cancel()">
            {{ dlg.emailSent ? 'COMMON.CLOSE' : 'COMMON.CANCEL' | translate }}
            </md-button>
        </div>
    </form>
</md-dialog>