<md-card style="max-width: 30em; margin: 1em auto;">
  <md-card-content>
    <h1>ESDH {{ 'menu.login' | translate }}</h1>
    <form name="form">
      <md-input-container>
        <label>{{ 'login.username' | translate }}</label>
        <input type="text" ng-model="vm.credentials.username" name="username" required autofocus>
        <div ng-messages="form.username.$error" ng-show="form.username.$dirty">
          <div ng-message>{{ vm.user.message }}</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>{{ 'login.password' | translate }}</label>
        <input type="password" ng-model="vm.credentials.password" name="password" required>
      </md-input-container>
      <md-checkbox aria-label="{{ 'login.signmein' | translate }}" ng-disabled="true">
        {{ 'login.signmein' | translate }}
      </md-checkbox>
      <md-button type="submit" class="md-raised" ng-click="vm.login(vm.credentials)" ng-disabled="form.$invalid">{{ 'menu.login' | translate }}</md-button>
    </form>
  </md-card-content>
</md-card>