/*
 * Search styles
 */

.search__header {
    margin: 8px 16px;
    padding: 0;
    font-size: 1.3em;
}

.search__list {
    background-color: #fff;
}

.search__item-case,
.search__item-document {
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    padding: 16px 24px;
    border-top: solid 1px #eee;
}

.search__item__info {
    height: 100%;
    flex-grow: 1;
}

.search__item__icon {
    width: auto;
    margin-right: 8px;
    height: 100%;
}

.search__item__title {
    font-weight: 400;
    margin: 0;
    font-size: 1.1em;
}

a.search__item__link:link,
a.search__item__link:visited {
    color: rgb(30,136,229);
}

.search__item__title .muted {
    font-size: 0.8em;
}

.search__item__bonusinfo {
    float: right;
    width: auto;
}

.search__item__desc {
    margin: 0;
}

.search__item__changed {
    float: right;
    width: auto;
    font-size: 0.8em;
}


/*
 * Search filter menu styles
 */

.menu {
    background-color: #eee;
}

.filters {
    
    .filter-title {
        font-weight: 500;
        font-size: 0.9em;
        padding: 16px 24px;
        display: block;
    }
    
    fieldset {
        display: block;
        margin: 0;
        padding: 0;
        border-top-color: #ccc;
    }
    
    .toggle-btn {
        display: block;
        margin: 0;
        padding: 8px 16px 8px 24px;
        color: rgb(30,136,229);
        
        .material-icons {
            float: right;
        }
    }
    
    .toggle-obj {
        margin: 0;
        padding: 16px 24px 8px;
        border-top: dashed 1px #ccc;
    }
    
    md-checkbox {
        display: block;
    }
}