<md-content layout="column">
  
    <div class="sub-toolbar" layout="row" layout-align="space-between center" layout-padding>
    
        <h1 class="md-headline" layout-margin>{{ 'TASK.TASKS' | translate }}</h1>

        <md-select ng-model="status" >
            <md-option value="" selected>Show all open tasks</md-option>
            <md-option ng-repeat="status in tasksCtrl.statuses" value="{{status}}">{{status | workflowTaskStatus}}</md-option>
        </md-select>
    
    </div>

    <div layout="column">
        
        <div class="tlist">
            <div class="tlist__header" layout="row">
                <span class="tlist__cell" flex="5"></span>
                <span class="tlist__cell" flex>{{ 'TASK.TASK' | translate }}</span>
                <span class="tlist__cell" flex="25">{{ 'COMMON.DESCRIPTION' | translate }}</span>
                <span class="tlist__cell" flex="15">{{ 'COMMON.STATUS' | translate }}</span>
                <span class="tlist__cell" flex="15">{{ 'COMMON.DUE_DATE' | translate }}</span>
                <span class="tlist__cell" flex="10">{{ 'COMMON.PRIORITY' | translate }}</span>
            </div>
            <md-virtual-repeat-container class="tlist__body">
                <div md-virtual-repeat="task in tasksCtrl.tasks | filter:status" class="tlist__item" layout="column">
                    <a class="tlist__item__link"
                       href="#/tasks/task/{{task.name | encodeUri}}/{{task.id | encodeUri}}"
                       layout="row"
                       class="{{ case['oe:status'] == 'passive' ? 'muted' : '' }}"
                       ui-sref="caseinfo({'caseId': case['oe:id']})">
                        <span class="tlist__cell tlist__cell-icon" flex="5"><i class="material-icons">assignment</i></span>
                        <span class="tlist__cell" flex>{{ task.properties.bpm_description }}</span>
                        <span class="tlist__cell muted" flex="25"><span class="cell__label">{{ 'COMMON.DESCRIPTION' | translate }}</span>{{ task.description }}</span>
                        <span class="tlist__cell muted" flex="15"><span class="cell__label">{{ 'COMMON.STATUS' | translate }}</span> {{ task.properties.bpm_status | workflowTaskStatus}}</span>
                        <span class="tlist__cell muted" flex="15"><span class="cell__label">{{ 'COMMON.DUE_DATE' | translate }}</span>{{ task.properties.bpm_dueDate | date }}</span>
                        <span class="tlist__cell muted" flex="10"><span class="cell__label">{{ 'COMMON.PRIORITY' | translate }}</span>{{ task.properties.bpm_priority | workflowTaskPriority}}</span>
                        <div class="tlist__item__createinfo muted" 
                             translate="TASK.TASK_CREATED_ON_BY" 
                             translate-value-on="{{ task.properties.cm_created | openeDate }}" 
                             translate-value-by="{{ task.workflowInstance.initiator.firstName + ' ' + task.workflowInstance.initiator.lastName }}" >
                        </div>
                    </a>
                    
                </div>
            </md-virtual-repeat-container>
        </div>
        
    </div>

</md-content>