<md-card ng-controller="tasksOverviewController as tasksCtrl" style="min-height: 350px;">
    <md-card-content>
        <h2 class="md-title">{{ 'TASK.MY_TASKS' | translate }}</h2>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="task in tasksCtrl.tasks">
                <md-button class="md-list-item-text task-btn" ui-sref="workflowtask({ taskName: task.name, taskId : task.id })">
                    <div layout="row" layout-align="space-between start">
                        <div flex="60">
                            <h3>{{task | taskTitle}}</h3>
                            <p class="single-line">{{task | taskDescription}}</p>
                        </div>
                        <div flex style="text-align:right">
                            <p>&#160;{{ task.properties.bpm_dueDate | date }}</p>
                            <p>{{ task.properties.bpm_status | workflowTaskStatus}}</p>
                        </div>
                    </div>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
