<app-header></app-header>

<md-content layout="column" ng-controller="SearchController as sctrl">
  
    <div class="sub-toolbar" layout-padding>
        <h1 class="md-headline" layout-margin>{{ 'SEARCH.SEARCH' | translate }}</h1>
    </div>

    <div layout="row" layout-padding>
        
        <div flex="25" layout-margin>
            <form name="facets">
                <fieldset>
                    <legend><i class="material-icons">arrow_drop_down</i> Filters A</legend>
                    <md-checkbox ng-model="useFacetA1" aria-label="Facet A1" class="md-primary">
                        Facet A1 <span class="search-hits">2</span>
                    </md-checkbox>
                    <md-checkbox ng-model="useFacetA2" aria-label="Facet A2" class="md-primary">
                        Facet A2 <span class="search-hits">468</span>
                    </md-checkbox>
                    <md-checkbox ng-model="useFacetA3" aria-label="Facet A3" class="md-primary">
                        Facet A3 <span class="search-hits">5</span>
                    </md-checkbox>
                </fieldset>
                <fieldset>
                    <legend><i class="material-icons">arrow_drop_down</i> Filters B</legend>
                    <md-checkbox ng-model="useFacetB1" aria-label="Facet B1" class="md-primary">
                        Facet B1 <span class="search-hits">23</span>
                    </md-checkbox>
                    <md-checkbox ng-model="useFacetB2" aria-label="Facet B2" class="md-primary">
                        Facet B2 <span class="search-hits">7</span>
                    </md-checkbox>
                    <md-checkbox ng-model="useFacetB3" aria-label="Facet B3" class="md-primary">
                        Facet B3 <span class="search-hits">13</span>
                    </md-checkbox>
                </fieldset>
            </form>
        </div>
        
        <div flex="75">
            <md-card ng-repeat="item in sctrl.queryResult.items">
                
                <md-card-content ng-if="item.type == 'case'">
                    <div layout="row" layout-align="space-between start" class="muted" style="font-size: 0.9em;">
                        <span style="text-transform: capitalize;">{{ item.type }}: {{ item.case.caseId }}</span>
                        <span>
                            {{ "COMMON.MODIFIED_BY" | translate }} {{ item.modifiedBy }} {{ item.modifiedOn | date }}
                        </span>
                    </div>
                    <h2 class="md-title">{{ item.displayName }}</h2>
                    <p>{{ item.description }}</p>
                </md-card-content>
                <md-actions ng-if="item.type == 'case'">
                    <a class="md-button md-primary" href="#/cases/case/{{ item.case.caseId }}">{{ "CASE.VIEW_CASE_DETAILS" | translate }}</a>
                </md-actions>
            
                <md-card-content ng-if="item.type == 'document'">
                    <div layout="row" layout-align="space-between start" class="muted" style="font-size: 0.9em;">
                        <span style="text-transform: capitalize;">{{ item.type }}</span>
                        <span>
                            {{ "COMMON.MODIFIED_BY" | translate }} {{ item.modifiedBy }} {{ item.modifiedOn | date }}
                        </span>
                    </div>
                    <h2 class="md-title">{{ item.displayName }}</h2>
                    <p>{{ item.description }}</p>
                </md-card-content>
                <md-actions ng-if="item.type == 'document' && item.case">
                    <a class="md-button md-primary" ng-disabled="true">{{ "DOCUMENT.VIEW_DOCUMENT_DETAILS" | translate }}</a>
                    <a class="md-button" ng-disabled="true">{{ "COMMON.DOWNLOAD" | translate }}</a>
                </md-actions>
            
            </md-card>
            
        </div>
        
    </div> 
    

</md-content>
  
<app-footer></app-footer>
