<md-dialog aria-label="Case edit dialog">
  <form>
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>{{'notes.CREATE_NOTE' | translate}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;min-width:20em;min-height:300px;">
      <md-input-container>
        <label>{{'notes.HEADLINE' | translate}}</label>
        <input type="text" ng-model="headline" required>
      </md-input-container>
      <md-input-container>
        <label>{{'notes.CONTENT' | translate}}</label>
        <input type="text" ng-model="content" required>
      </md-input-container>
      
        <label>{{'notes.CONCERNED_PARTIES' | translate}}:</label>
        
        <div isteven-multi-select 
            input-model="caseParties" 
            output-model="concernedParties"
            output-properties="nodeRef"
            button-label="displayName"
            item-label="displayName"
            helper-elements="all none"
            tick-property="ticked"> </div>
      
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button class="md-primary" ng-click="addNote()">
        {{'notes.ADD_NOTE' | translate}}
      </md-button>
      <md-button ng-click="cancel()">
        {{'common.CANCEL' | translate}}
      </md-button>
    </div>
  </form>
</md-dialog>