/* case note releated parties enumertion*/
ol.note_parties {
	margin: 0; 
	padding: 0; 
	list-style-type: disc;
	display: inline-block;

	> li {
		display: inline-block;
	}

	> li:not(:last-child):after {
	    content: ',';
	    padding-right: 3px; 
	}
}

.opene-toggleview {
	display: inline-block;

	.md-button.md-icon-button {
		padding: 0px;
		width: auto;
		&.md-focused {
			background-color: transparent;
		}
	}

	.active .material-icons {
		color: rgb(30,136,229);
	}
	
	.material-icons {
		color: rgba(0,0,0,0.26);
	}
}