<md-card>
  <md-card-content>
    <div layout="row" layout-align="space-between center">
      <h3>{{ 'GROUP.GROUPS' | translate }}</h3>
      <md-button aria-label="Create new group" class="md-primary">
        <i class="material-icons">group_add</i>
        Create new group
      </md-button>
    </div>
    <table>
      <thead>
        <tr>
          <th>{{ 'COMMON.NAME' | translate }}</th>
          <th></th>
          <th>{{ 'COMMON.ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="g in vm.groups">
          <td>{{ g.displayName }}</td>
          <td class="muted">{{ g.shortName }}</td>
          <td layout="row">
            <md-button ui-sref="administration.groups({'shortName': g.shortName })">{{ 'COMMON.VIEW_DETAILS' | translate }}</md-button>
            <md-button ng-disabled="true">{{ 'COMMON.REMOVE' | translate }}</md-button>
          </td>
        </tr>
      </tbody>
    </table>
    <md-button aria-label="Create new group" class="md-primary" ng-click="vm.createGroup($event)" >
      <i class="material-icons">group_add</i>
      Create new group
    </md-button>
  </md-card-content>
</md-card>
