<md-dialog class="dialog-small" aria-label="Group create dialog">
    <form name="form" novalidate>
        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2>{{vm.dialogMode}} {{ 'GROUP.GROUP' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div layout>
                <md-input-container flex>
                    <label>{{ 'GROUP.DISPLAY_NAME' | translate }} *</label>
                    <input type="text" name="displayName" ng-model="group.displayName" required md-autofocus>
                    <opene-error form="form" field="form.displayName"></opene-error>
                </md-input-container>

                <md-input-container flex>
                    <label>{{ 'GROUP.SHORT_NAME' | translate }} *</label>
                    <input type="text" name="shortName" ng-model="group.shortName" required>
                    <opene-error form="form" field="form.shortName"></opene-error>
                </md-input-container>
            </div>

        </md-dialog-content>
        
        <md-dialog-actions>
            <md-button type="submit" class="md-primary" ng-click="vm.update(group)" ng-disabled="form.$invalid">
                {{vm.dialogMode}} {{ 'GROUP.GROUP' | translate }}
            </md-button>
            <md-button type="button" ng-click="vm.cancel(form)">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>