<md-card ng-show="vm.hasData">
    <md-toolbar id="global-toolbar" style="padding: 0 1rem;">
        <div class="global-tools__links">
            <img class="md-toolbar-tools__logo" src="{{$root.logoSrc}}" alt="logo" />
        </div>
    </md-toolbar>
    <md-card-content>
        <div layout="row" layout-align="space-between start">
            <div>{{ 'CASE.CASE' | translate }}: {{ vm.case["oe:id"].value }}</div>
            <div style="text-align:right; color: #999; white-space: nowrap;">
                <div>{{ 'CASE.CREATED_BY' | translate: {at:vm.dateFlt(vm.case["cm:created"].value), by:vm.case["cm:creator"].fullname} }}</div>
                <div>{{ 'CASE.MODIFIED_BY' | translate: {at:vm.dateFlt(vm.case["cm:modified"].value), by:vm.case["cm:modifier"].fullname} }}</div>
            </div>
        </div>
        <h2>{{ vm.case["cm:title"].value }}</h2>
        <p>{{ vm.case["cm:description"].value }}</p>
    </md-card-content>
    <div class="md-actions">
        <a class="md-button md-primary" href="#/cases/case/{{ vm.case['oe:id'].value }}" target="_blank">{{ 'CASE.VIEW_CASE_DETAILS' | translate }}</a>
    </div>
</md-card>
