<md-card>
  <md-card-content>
    <h1 class="md-headline">{{ 'OFFICE.SAVE_DOCUMENT_IN_OPENESDH' | translate }}</h1>
    <form name="form">
        
      <h2 class="md-title">{{ 'CASE.CREATE_FROM' | translate }}
        <md-menu ng-controller="CreateCaseMenuController as ctrl">
          <md-button class="md-primary" ng-click="$mdOpenMenu($event)" aria-label="{{ 'CASE.SELECT_CASE_TYPE' | translate }}">
            {{ 'CASE.SELECT_CASE_TYPE' | translate }}
          </md-button>
          <md-menu-content>
            <md-menu-item ng-repeat="caseType in ctrl.registeredCaseTypes">
              <md-button ng-click="vm.setPartial(caseType)">{{ caseType | caseType | lowercase }}</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-disabled="true">{{ 'CASE.CASETYPE_OTHER' | translate | lowercase }}</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.setPartial()">{{ 'CASE.SEARCH_EXISTING_CASE' | translate }}</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </h2>

      <h2 class="md-title" ng-show="vm.newCase">{{ vm.caseInfo.type | caseType }}</h2>
      <ng-include src="vm.formTemplateUrl"></ng-include>

      <h2 class="md-title" ng-hide="vm.newCase">{{ 'CASE.SEARCH_CASE' | translate }}</h2>
      <md-autocomplete 
          ng-if="!vm.newCase" 
          ng-required="!vm.newCase" 
          md-input-name="caseSelector"
          md-input-minlength="2" 
          md-selected-item="vm.selectedCase" 
          md-search-text="searchText" 
          md-items="item in vm.querySearch(searchText)" 
          md-item-text="item['oe:id']" 
          md-floating-label="* {{ 'CASE' | translate }}">
        <md-item-template>
          <span md-highlight-text="searchText">{{item['oe:id'] }} {{item['cm:title']}}</span>
          <!--<span md-highlight-text="searchText" class="muted">(ID: {{item.id}})</span>-->
        </md-item-template>
      </md-autocomplete>

      <h2 class="md-title">{{ 'DOCUMENT.DOCUMENT' | translate }}</h2>
      <div layout="column">
        
        <md-input-container>
          <label><span class="md-warn">*</span> {{ 'COMMON.TITLE' | translate }}</label>
          <input type="text" ng-model="vm.title" required>
        </md-input-container>
  
        <md-input-container>
          <label>{{ 'COMMON.TYPE' | translate }}</label>
          <md-select ng-model="vm.documentProperties.doc_type">
            <md-option ng-repeat="type in vm.documentConstraints.documentTypes" ng-value="type.nodeRef">
              {{ type.displayName}}
            </md-option>
          </md-select>
        </md-input-container>
  
        <md-input-container>
          <label>{{ 'COMMON.CATEGORY' | translate }}</label>
          <md-select ng-model="vm.documentProperties.doc_category">
            <md-option ng-repeat="category in vm.documentConstraints.documentCategories" ng-value="category.nodeRef">
              {{ category.displayName}}
            </md-option>
          </md-select>
        </md-input-container>
      
      </div>
      
      <div class="md-actions" layout="row">
        <md-button type="submit" class="md-primary" ng-click="vm.saveOfficeDocWithCase(form)">
          {{ 'COMMON.SAVE' | translate }}</md-button>
        <md-button type="button" ng-click="vm.cancel(form)">{{ 'COMMON.CANCEL' | translate }}</md-button>
      </div>
      
    </form>
  </md-card-content>
</md-card>
