<md-card>
  <md-card-content>
    <h2>{{ 'OFFICE.SAVE_EMAIL_IN_OPENESDH' | translate }}</h2>

    <form name="form">
        <md-autocomplete required
            md-input-name="autocompleteField"
            md-input-minlength="2"
            md-selected-item="vm.selectedCase"
            md-search-text="searchText"
            md-items="item in vm.querySearch(searchText)"
            md-item-text="item['oe:id']"
            md-floating-label="Case">
          <md-item-template>
            <span md-highlight-text="searchText">{{item['oe:id'] }} {{item['cm:title']}}</span>
            <!--<span md-highlight-text="searchText" class="muted">(ID: {{item.id}})</span>-->
          </md-item-template>
        </md-autocomplete>
        <md-input-container>
            <label>{{ 'COMMON.TITLE' | translate }}</label>
            <input type="text" ng-model="vm.subject" required>
        </md-input-container>
        <div ng-show="vm.attachments.length > 0">
            <md-subheader class="md-no-sticky">{{ 'DOCUMENT.ATTACHMENTS' | translate }}:</md-subheader>
            <md-list-item ng-repeat="attachment in vm.attachments">
                <md-checkbox ng-model="attachment.selected"></md-checkbox>
                <p>{{attachment.Name}}</p>
            </md-list-item>
        </div>
        <div class="md-actions" layout="row">
            <md-button type="submit" class="md-primary" ng-click="vm.save(form)" ng-disabled="form.$invalid">{{ 'COMMON.SAVE' | translate }}</md-button>
            <md-button type="button" ng-click="vm.cancel(form)">{{ 'COMMON.CANCEL' | translate }}</md-button>
        </div>
    </form>

  </md-card-content>
</md-card>
