<md-autocomplete
	md-selected-item="selectedItem" 
	md-selected-item-change="vm.selectedItemChange(item)" 
	md-min-length="0" 
	md-search-text="vm.selected" 
	md-search-text-change="vm.searchTextChange(vm.selected)" 
	md-items="item in vm.querySearch(vm.selected)" 
	md-item-text="item.name" 
	md-floating-label="{{vm.label}}"
	ng-required="{{vm.required}}"
	md-input-name="{{vm.name}}"
	>

    <md-item-template>
        <span md-highlight-text="vm.selected">{{ item.name }}</span>
    </md-item-template>
    <md-not-found>
        {{ 'COMMON.NO_MATCHES' | translate }}
    </md-not-found>
</md-autocomplete>
