<app-header></app-header>
<md-content layout="column">
    <div class="sub-toolbar md-whiteframe-3dp">
    </div>
    <div layout="column">
        <md-card>
            <md-card-content>
                <div class="tlist">
                    <div class="tlist__header" layout="row">
                        <div class="tlist__cell" flex="5"></div>
                        <div class="tlist__cell" flex="10">
                            <div layout="row" layout-align="space-between center">
                                <span sort-table="activitySummary.caseId">
                                    {{ 'COMMON.CASE_ID' | translate }}
                                </span>
                                <opene-column-filter type="text" filter="actCtrl.filterArray" value="id" />
                            </div>
                        </div>
                        <div class="tlist__cell" flex="15">
                            <div layout="row" layout-align="space-between center">
                                <span sort-table="activitySummary.caseTitle">
                                    {{ 'COMMON.TITLE' | translate }}
                                </span>
                                <opene-column-filter type="text" filter="actCtrl.filterArray" value="title" />
                            </div>
                        </div>
                        <div class="tlist__cell" flex>{{ 'COMMON.ACTION' | translate }}</div>
                        <div class="tlist__cell" flex="10">
                            <div layout="row" layout-align="space-between center">
                                <span sort-table="activitySummary.modifierDisplayName">
                                    {{ 'ACTIVITIES.PERFORMER' | translate }}
                                </span>
                                <opene-column-filter type="text" filter="actCtrl.filterArray" value="performer" />
                            </div>
                        </div>
                        <div class="tlist__cell tlist__cell__date">
                            <div layout="row" layout-align="space-between center">
                                <span sort-table="postDate">
                                    {{ 'ACTIVITIES.DATE' | translate }}
                                </span>
                                <opene-column-filter type="date" filter="actCtrl.filterArray" value="date" />
                            </div>
                        </div>
                        <div class="tlist__cell" flex="15">
                            <div layout="row" layout-align="space-between center">
                                <span sort-table="activityType">
                                    {{ 'COMMON.TYPE' | translate }}
                                </span>
                                <opene-column-filter type="checkbox" list="actCtrl.activityTypes" filter="actCtrl.filterArray" value="type" />
                            </div>
                        </div>
                    </div>
                    <md-virtual-repeat-container class="tlist__body" flex-height>
                        <div md-virtual-repeat="activity in actCtrl.activities | orderObjectBy:orderByAttribute:reverseOrder | filter:actCtrl.columnFilter" class="tlist__item" layout="column" flex>
                            {{activitySummary=activity.activitySummary;""}}
                            <a class="tlist__item__link" href="#/cases/case/{{activitySummary.caseId}}" layout="row">
                                <span class="tlist__cell tlist__cell_icon" flex="5"><i class="material-icons">announcement</i></span>
                                <span class="tlist__cell" flex="10">{{ activitySummary.caseId }}</span>
                                <span class="tlist__cell muted" flex="15">{{ activitySummary.caseTitle }}</span>
                                <span class="tlist__cell muted" flex>
                                    {{ ('ACTIVITIES.LIST.' + activity.activityType) | translate : activitySummary }}
                                </span>
                                <span class="tlist__cell muted" flex="10">{{activitySummary.modifierDisplayName}}</span>
                                <span class="tlist__cell tlist__cell__date muted">{{activity.postDate | openeDate}}</span>
                                <span class="tlist__cell muted" flex="15" translate="ACTIVITIES.TYPE.{{activity.activityType}}"></span>
                            </a>
                        </div>
                    </md-virtual-repeat-container>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
<app-footer></app-footer>
