<md-card ng-controller="activitiesController as actContrl">
    <md-card-content>
        <h2 class="md-title">{{ 'ACTIVITIES.RECENT_ACTIVITIES' | translate }}</h2>
        <div style="min-height: 150px;">
          <div ng-repeat="activity in actContrl.activities" class="repeat-item" style="margin: 15px" >
              {{activitySummary=activity.activitySummary;""}}
              <a ui-sref="case({'caseId': activitySummary.caseId})">
                  {{ ('ACTIVITIES.' + activity.activityType) | translate : activitySummary }}
              </a>
          </div>
        </div>
    </md-virtual-repeat-container>
</md-card>