<app-header></app-header>

<md-content layout="column">
    <div class="sub-toolbar" layout="row" layout-align="space-between center" layout-padding>
        <h1 class="md-headline" layout-margin>{{ 'ACTIVITIES.NOTIFICATIONS' | translate }}</h1>
    </div>

    <div layout="column">
        <div class="tlist">
            <div class="tlist__header" layout="row">
                <span class="tlist__cell" flex="2"></span>
                <span class="tlist__cell" flex="10">{{ 'COMMON.CASE_ID' | translate }}</span>
                <span class="tlist__cell" flex="20">{{ 'COMMON.TITLE' | translate }}</span>
                <span class="tlist__cell" flex>{{ 'COMMON.ACTION' | translate }}</span>
                <span class="tlist__cell" flex="10">{{ 'ACTIVITIES.PERFORMER' | translate }}</span>
                <span class="tlist__cell" flex="10">{{ 'ACTIVITIES.DATE' | translate }}</span>
                <span class="tlist__cell" flex="10">{{ 'COMMON.TYPE' | translate }}</span>
            </div>
            
            <md-virtual-repeat-container class="tlist__body" auto-height>
                <div md-virtual-repeat="activity in actCtrl.activities" class="tlist__item" layout="column" flex>
                    {{activitySummary=activity.activitySummary;""}}
                    <a class="tlist__item__link"
                       href="#/cases/case/{{activitySummary.caseId}}"
                       layout="row">
                        <span class="tlist__cell tlist__cell_icon" flex="2"><i class="material-icons">announcement</i></span>
                        <span class="tlist__cell" flex="10">{{ activitySummary.caseId }}</span>
                        <span class="tlist__cell muted" flex="20">{{ activitySummary.caseTitle }}</span>
                        <span class="tlist__cell muted" flex
                            translate="ACTIVITIES.LIST.{{activity.activityType}}"
                            translate-value-user="{{activitySummary.modifierDisplayName}}"
                            translate-value-case="{{activitySummary.caseTitle}}"
                            translate-value-case-id="{{activitySummary.caseId}}"
                            translate-value-member="{{activitySummary.member}}"
                            translate-value-role="{{activitySummary.role}}"
                            translate-value-document="{{activitySummary.docTitle}}"
                            translate-value-attachment="{{activitySummary.attachmentTitle}}"
                            translate-value-workflow-description="{{activitySummary.workflowDescription}}">
                        </span>
                        <span class="tlist__cell muted" flex="12">{{activitySummary.modifierDisplayName}}</span>
                        <span class="tlist__cell muted" flex="10">{{activity.postDate | openeDate}}</span>
                        <span class="tlist__cell muted" flex="10" translate="ACTIVITIES.TYPE.{{activity.activityType}}"></span>
                    </a>
                    
                </div>
            </md-virtual-repeat-container>
        </div>
    </div>    
</md-content>

<app-footer></app-footer>