<app-header></app-header>

<section layout="row" layout-wrap>
    <div flex="100" flex-gt-md="66">
        <span ng-repeat="dashlet in vm.dashlets | orderBy: 'order' | filter:{position:'left'}">
            <ng-include src="dashlet.templateUrl"></ng-include>
        </span>
    </div>
    <div flex="100" flex-gt-md="33">
        <span ng-repeat="dashlet in vm.dashlets | orderBy: 'order' | filter:{position:'right'}">
            <ng-include src="dashlet.templateUrl"></ng-include>
        </span>
    </div>
</section>

<app-footer></app-footer>