<app-header></app-header>

<section layout="row" layout-wrap>
  
  <div flex="50" ng-controller="TaskController">
    <md-card>
      <md-card-content>
        <h3>{{ 'TASK.MY_TASKS' | translate }}</h3>
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="task in tasks">
            <div class="md-list-item-text">
              <h3>{{task.title}}</h3>
              <p>{{task.status}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
      <div class="md-actions">
        <md-button class="md-primary" ng-disabled="true">{{ 'TASK.CREATE_NEW_TASK' | translate }}</md-button>
      </div>
    </md-card>
  </div>
  
  <div flex="50" ng-controller="CaseController as caseController">
    <md-card>
      <md-card-content>
        <h3>{{ 'CASE.MY_CASES' | translate }}</h3>
        <table>
          <thead>
            <tr>
              <th>{{ 'COMMON.ID' | translate }}</th>
              <th>{{ 'COMMON.TITLE' | translate }}</th>
              <th>{{ 'COMMON.MODIFIED' | translate }}</th>
              <th>{{ 'COMMON.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="case in caseController.cases" class="{{ case.isUpdated ? 'updated' : 'not-updated' }}">
              <td>{{case["oe:id"]}}</td>
              <td>{{case["cm:title"]}}</td>
              <td>{{case["cm:modified"] | date: 'yyyy-MM-dd'}}</td>
              <td><md-button href="#/cases/case" class="md-primary">{{ 'COMMON.VIEW' | translate }}</md-button></td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
      <div class="md-actions">
        <md-button class="md-primary" ng-click="caseController.createCase($event, 'standard')">{{ 'CASE.CREATE_NEW_CASE' | translate }}</md-button>
      </div>
    </md-card>
  </div>
  
  <div flex="50" ng-controller="FileController as vm">
    <md-card>
      <md-card-content>
        <h3>{{ 'DOCUMENT.MY_RECENT_DOCUMENTS' | translate }}</h3>
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="document in vm.documents">
            <div class="md-list-item-text">
              <!--<img ng-src="{{ file.icon }}">-->
              <h3>{{ document.displayName }}</h3>
              <p>{{ 'COMMON.MODIFIED' | translate }} {{ document.modifiedOn }} {{ 'COMMON.BY' | translate }} {{ document.modifiedBy }}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</section>

<app-footer></app-footer>