<app-header></app-header>

<section layout="row">
  
    <div flex="66" layout="column">
      
        <md-card ng-controller="CaseController as caseController">
          <md-card-content>
            
            <h2 class="md-title">{{ 'CASE.MY_CASES' | translate }}</h2>
            
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>{{ 'COMMON.TITLE' | translate }}</th>
                  <th>{{ 'COMMON.ID' | translate }}</th>
                  <th>{{ 'COMMON.MODIFIED' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="case in caseController.myCases" class="clickable-row" ui-sref="caseinfo({'caseId': case['oe:id']})">
                  <td><i class="material-icons">folder_open</i></td>
                  <td>{{case["cm:title"]}}</td>
                  <td>{{case["oe:id"]}}</td>
                  <td class="muted">{{case["cm:modified"] | date: 'yyyy-MM-dd'}}</td>
                </tr>
              </tbody>
            </table>
            
          </md-card-content>
          <div class="md-actions" layout="row" layout-padding>

            <md-menu>
                <md-button class="md-primary" ng-click="$mdOpenMenu($event)" aria-label="{{ 'CASE.CREATE_NEW_CASE' | translate }}">
                    <i class="material-icons">add</i>
                    {{ 'CASE.CREATE_NEW_CASE' | translate }}
                </md-button>
                <md-menu-content>
                    <md-menu-item><md-button ng-click="caseController.createCase($event, 'standard')">{{ 'CASE.CASETYPE_STANDARD' | translate }}</md-button></md-menu-item>
                    <md-menu-item><md-button ng-disabled="true">{{ 'CASE.CASETYPE_OTHER' | translate }}</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
            
          </div>
        </md-card>
        
        <md-card ng-controller="FileController as vm">
          <md-card-content>
            
            <h2 class="md-title">{{ 'DOCUMENT.MY_DOCUMENTS' | translate }}</h2>
            
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>{{ 'COMMON.TITLE' | translate }}</th>
                  <th>{{ 'COMMON.MODIFIED' | translate }}</th>
                  <th>{{ 'COMMON.MODIFIED_BY' | translate }}</th>
                  <th>{{ 'COMMON.ACTION' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="document in vm.documents">
                  <td><i class="material-icons">insert_drive_file</i></td>
                  <td>{{ document.displayName }}</td>
                  <td class="muted">{{ document.modifiedOn }}</td>
                  <td class="muted">{{ document.modifiedBy }}</td>
                  <td><md-button class="md-primary" href="#/cases/case/{{document.caseId}}/doc/{{document.location.parent.nodeRef | nodeRefUri}}">{{ 'COMMON.VIEW_DETAILS' | translate }}</md-button></td>
                </tr>
              </tbody>
            </table>
            
          </md-card-content>
        </md-card>
      
    </div>
  
    <div flex="33">
    
        <md-card ng-controller="tasksOverviewController as tasksCtrl">
          <md-card-content>
            <h2 class="md-title">{{ 'TASK.MY_TASKS' | translate }}</h2>
            <md-list>
              <md-list-item class="md-2-line" ng-repeat="task in tasksCtrl.tasks">
                <div class="md-list-item-text">
                  <h3>{{task.properties.bpm_description}}</h3>
                  <p>{{task.description}}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
    
    </div>
  
</section>

<app-footer></app-footer>