<md-dialog aria-label="Create / edit organization">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Create / edit organization</h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:40em;max-height:810px; ">
    <md-input-container>
      <label>Company name</label>
      <input type="text">
    </md-input-container>
    <md-input-container>
      <label>Address 1</label>
      <input type="text">
    </md-input-container>
    <md-input-container>
      <label>Address 2</label>
      <input type="text">
    </md-input-container>
    <md-input-container>
      <label>Postal number</label>
      <input type="text">
    </md-input-container>
    <md-input-container>
      <label>City</label>
      <input type="text">
    </md-input-container>
    <md-input-container>
      <label>Country</label>
      <input type="text">
    </md-input-container>
    <md-input-container>
      <label>VAT number</label>
      <input type="text">
    </md-input-container>
    <md-input-container>
      <label>E-mail address</label>
      <input type="text">
    </md-input-container>
    <md-input-container>
      <label>Phone</label>
      <input type="text">
    </md-input-container>
    <md-input-container>
      <label>Website</label>
      <input type="text">
    </md-input-container>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button class="md-primary" ng-click="cancel()">
      Save
    </md-button>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
  </div>
  </form>
</md-dialog>