<md-dialog class="dialog-large" aria-label="Case edit dialog">
    <form name="form" novalidate>

        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2 ng-hide="vm.editCase">
                    {{ 'COMMON.CREATE' | translate }} {{ vm.caseInfo.type | caseType | lowercase }}
                </h2>
                <h2 ng-show="vm.editCase">{{ 'CASE.EDIT_PROPERTIES' | translate }}</h2>
            </div>
        </md-toolbar>
        
        <md-dialog-content>
            
            <ng-include ng-repeat="extra in vm.extrasUI" src="extra.formUrl"></ng-include>
        
            <ng-include src="vm.formTemplateUrl" />
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="submit" class="md-primary" ng-click="vm.save()" ng-disabled="form.$invalid">
                {{ 'COMMON.OK' | translate }}
            </md-button>
            <md-button type="button" ng-click="vm.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>