<div layout>
    <md-input-container flex="65">
        <label>{{ 'CASE.TITLE' | translate }} *</label>
        <input type="text" name="prop_cm_title" ng-model="vm.case.prop_cm_title" required md-autofocus>
        <opene-error form="form" field="form.prop_cm_title"></opene-error>
    </md-input-container>
    <div class="opene-autocomplete-wrapper" flex>
        <opene-autocomplete datasource="vm.case.assoc_base_owners_added" controller-name="AuthoritySelectorController" required="true" name="assoc_base_owners_added" label="{{'CASE.OWNER' | translate}} *"></opene-autocomplete>
        <opene-error form="form" field="form.assoc_base_owners_added"></opene-error>
    </div>
</div>

<div ng-controller="ClassificationController as classCtrl" layout="column">
    <md-chips ng-model="vm.case.prop_oe_journalKey" md-autocomplete-snap md-require-match="true">
        <md-autocomplete md-input-name="journalKey" md-min-length="2" md-input-minlength="2" md-selected-item="selectedItemKey" md-search-text="searchTextKey" md-items="item in classCtrl.search(searchTextKey, 'oe:journalKey')" md-item-text="item.name + ' ' + item.title" placeholder="{{'CASE.JOURNAL_KEY'| translate}}">
            <md-item-template>
                <span md-highlight-text="searchTextKey">{{item.name}}</span>
                <span md-highlight-text="searchTextKey" class="muted">{{item.title}}</span>
            </md-item-template>
            <md-not-found>
                {{ 'COMMON.NO_MATCHES' | translate }}
            </md-not-found>
        </md-autocomplete>
        <md-chip-template>
            <span>
                <strong>{{ $chip.name}}</strong>
                <em>{{ $chip.title}}</em>
            </span>
        </md-chip-template>
    </md-chips>
    <md-chips ng-model="vm.case.prop_oe_journalFacet" md-autocomplete-snap md-require-match="true">
        <md-autocomplete md-input-name="journalFacet" md-min-length="2" md-input-minlength="2" md-selected-item="selectedItemFacet" md-search-text="searchTextFacet" md-items="item in classCtrl.search(searchTextFacet, 'oe:journalFacet')" md-item-text="item.name + ' ' + item.title" placeholder="{{'CASE.JOURNAL_FACET'| translate}}">
            <md-item-template>
                <span md-highlight-text="searchTextFacet">{{item.name}}</span>
                <span md-highlight-text="searchTextFacet" class="muted">{{item.title}}</span>
            </md-item-template>
            <md-not-found>
                {{ 'COMMON.NO_MATCHES' | translate }}
            </md-not-found>
        </md-autocomplete>
        <md-chip-template>
            <span>
                <strong>{{$chip.name}}</strong>
                <em>{{$chip.title}}</em>
            </span>
        </md-chip-template>
    </md-chips>
</div>
<md-datepicker flex ng-model="vm.case.prop_base_startDate" md-max-date="vm.case.prop_base_endDate" md-placeholder="{{ 'CASE.START_DATE' | translate }}"></md-datepicker>
<md-datepicker flex ng-model="vm.case.prop_base_endDate" md-min-date="vm.case.prop_base_startDate" md-placeholder="{{ 'CASE.EXPECTED_END_DATE' | translate }}"></md-datepicker>

<div layout>
    <md-input-container flex>
        <label>{{ 'CASE.DESCRIPTION' | translate }}</label>
        <textarea rows="3" ng-model="vm.case.prop_cm_description"></textarea>
    </md-input-container>
</div>
