<md-dialog aria-label="User search dialog" style="max-width:800px;max-height:810px;min-width:40%;">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>{{ 'SEARCH.FIND_USERS' | translate }}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content layout="column">

        <md-chips ng-model="selectedUsers" md-autocomplete-snap md-require-match="true">
            <md-autocomplete
                md-selected-item="selectedItem"
                md-search-text="searchTerm"
                md-items="item in getAllSystemUsers(searchTerm)"
                md-item-text="item.name"
                placeholder="{{ 'SEARCH.FIND_USERS' | translate }}">
                <span md-highlight-text="searchTerm">{{item.name}}</span>
            </md-autocomplete>

            <md-chip-template>
                <span>
                    <strong>{{$chip.name}}</strong>
                </span>
            </md-chip-template>
        </md-chips>
    
    </md-dialog-content>

    <div class="md-actions" layout="row">
        <md-button type="submit" class="md-primary" ng-click="executeCallback()" ng-disabled="selectedUsers.length === 0">
            {{ 'COMMON.ADD' | translate }}
        </md-button>
        <md-button type="button" ng-click="cancel()">
            {{ 'COMMON.CLOSE' | translate }}
        </md-button>
    </div>
    
</md-dialog>