<div layout layout-wrap>
    
    <md-card ng-repeat="temp in tmplCtrl.templates" flex="20">
        <md-card-content layout layout-padding layout-fill>
            <div>
                <img ng-src="{{tmplCtrl.getThumbnail(temp.nodeRef)}}" class="md-card-image" style="border: 1px solid #ddd;" alt="Washed Out">
            </div>
            <div layout="column">
                <h2 class="md-title" ng-bind="temp.title" flex></h2>
                <p flex>Some template information</p>
                <div class="md-actions" layout="column" layout-align="end end">
                    <md-button ng-click="tmplCtrl.deleteTemplate(temp.nodeRef)">{{'COMMON.DELETE' | translate}}</md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>

</div>
<md-button class="md-primary" ng-click="tmplCtrl.uploadNewTemplate()">
    <i class="material-icons">file_upload</i>
    {{ 'DOCUMENT.TEMPLATE.LABELS.UPLOAD_NEW_TEMPLATE' | translate }}
</md-button>