<app-header></app-header>
<md-content layout="column">
    <div class="sub-toolbar" layout="row" layout-align="space-between center" layout-padding>
        <h1 class="md-headline" layout-margin>{{ 'DOCUMENT.TEMPLATE.LABELS.TEMPLATES' | translate }}</h1>
        <div class="md-actions" layout-padding ng-controller="OfficeTemplateController as tmplCtrl">
            <md-button class="md-primary" ng-click="tmplCtrl.uploadNewTemplate()">
                       <!--ng-disabled="caseIsLocked">-->
                <i class="material-icons">file_upload</i>
                {{ 'DOCUMENT.TEMPLATE.LABELS.UPLOAD_NEW_TEMPLATE' | translate }}
            </md-button>
        </div>
    </div>

</md-content>
<app-footer></app-footer>
