<md-dialog class="dialog-small" aria-label="">
    <form name="uploadTemplateForm">

        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2>{{ 'COMMON.UPLOAD' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column">
                <div flex>
                    <label class="label" for="tmpl-upload">{{ 'DOCUMENT.DOCUMENT_TO_UPLOAD' | translate }} *</label>
                    <input type="file" file-model="fileToUpload" id="tmpl-upload">
                </div>

                <md-input-container>
                    <label>{{ 'CASE.CASE_TYPES' | translate }}</label>
                    <md-select multiple ng-model="dtdc.selectedTypes" md-on-open="dtdc.getRegisteredCaseTypes()" required>
                        <md-option ng-value="type.Type" ng-repeat="type in dtdc.registeredTypes">{{type.Title}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex ng-disabled="newTemplateVersion">
                    <label>{{ 'COMMON.NAME' | translate }} *</label>

                    <input type="text" name="title" ng-model="templateProperties.title" required md-autofocus>
                    <opene-error form="uploadTemplateForm" field="uploadTemplateForm.title"></opene-error>
                </md-input-container>

                <md-input-container flex>
                    <label>{{ 'COMMON.DESCRIPTION' | translate }}</label>
                    <textarea ng-model="templateProperties.description" columns="1"></textarea>
                </md-input-container>
            </div>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" type="submit" ng-disabled="uploadTemplateForm.$invalid" ng-click="upload()">
                {{ 'COMMON.OK' | translate }}
            </md-button>
            <md-button ng-click="cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
