<md-dialog aria-label="Case edit dialog">
  <form>
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2 ng-show="!isAttachment">{{'caseDocumentDialog.uploadDocument' | translate}}</h2>
        <h2 ng-show="isAttachment">{{'caseDocumentDialog.uploadAttachment' | translate}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;min-width:20em">
      
      <table>
        <tr>
            <td>
              <md-input-container>
                <label>{{'caseDocumentDialog.documentToUpload' | translate}}</label>
                <input type="file" file-model="fileToUpload"/>
              </md-input-container>
            </td>
            <td>
                  <md-input-container ng-show="newDocumentVersion">
                    <label>{{'caseDocumentDialog.document.versionType' | translate}}</label>
                    <md-select ng-model="documentProperties.majorVersion">
                      <md-option ng-value="false">
                        {{ 'caseDocumentDialog.document.minorVersion' | translate }}
                      </md-option>
                      <md-option ng-value="true">
                        {{ 'caseDocumentDialog.document.majorVersion' | translate }}
                      </md-option>
                    </md-select>
                  </md-input-container>
            </td>
        </tr>
      </table>
      
      
      <md-input-container ng-show="!isAttachment">
        <label>{{'caseDocumentDialog.document.category' | translate}}</label>
        <md-select ng-model="documentProperties.doc_category" ng-disabled="newDocumentVersion">
          <md-option ng-repeat="category in documentConstraints.categoryConstraint" ng-value="category.value">
            {{ category.value | docCategory }}
          </md-option>
        </md-select>
      </md-input-container>
      
      <md-input-container ng-show="!isAttachment">
        <label>{{'caseDocumentDialog.document.type' | translate}}</label>
        <md-select ng-model="documentProperties.doc_type" ng-disabled="newDocumentVersion">
          <md-option ng-repeat="type in documentConstraints.typeConstraint" ng-value="type.value">
            {{ type.value | docType }}
          </md-option>
        </md-select>
      </md-input-container>
      
      <md-input-container ng-show="!isAttachment">
        <label>{{'caseDocumentDialog.document.state' | translate}}</label>
        <md-select ng-model="documentProperties.doc_state" ng-disabled="newDocumentVersion">
          <md-option ng-repeat="state in documentConstraints.stateConstraint" ng-value="state.value">
            {{ state.value | docState }}
          </md-option>
        </md-select>
      </md-input-container>
      
      <md-input-container>
        <label>{{'caseDocumentDialog.document.description' | translate}}</label>
        <textarea ng-model="documentProperties.description"></textarea>
      </md-input-container>
      
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button class="md-primary" ng-click="upload()">
        {{'common.UPLOAD' | translate}}
      </md-button>
      <md-button ng-click="cancel()">
        {{'common.CANCEL' | translate}}
      </md-button>
    </div>
  </form>
</md-dialog>