<md-dialog aria-label="">
  <form>
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2 ng-hide="isAttachment || isEditProperties">{{ 'DOCUMENT.UPLOAD_DOCUMENT' | translate }}</h2>
        <h2 ng-show="isAttachment">{{ 'DOCUMENT.UPLOAD_ATTACHMENT' | translate }}</h2>
        <h2 ng-show="isEditProperties">{{ 'DOCUMENT.EDIT_PROPERTIES' | translate }}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;min-width:20em">
      
      <div ng-hide="isEditProperties" layout="row">
        <div flex>
          <label class="label" for="doc-upload">{{ 'DOCUMENT.DOCUMENT_TO_UPLOAD' | translate }}</label>
          <input type="file" file-model="fileToUpload" id="doc-upload" focus-me>
        </div>
        <div flex>
          <md-input-container ng-show="newDocumentVersion">
            <label>{{ 'DOCUMENT.VERSIONTYPE' | translate }}</label>
            <md-select ng-model="documentProperties.majorVersion">
              <md-option ng-value="false">
                {{ 'DOCUMENT.MINOR_VERSION' | translate }}
              </md-option>
              <md-option ng-value="true">
                {{ 'DOCUMENT.MAJOR_VERSION' | translate }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>

      <md-input-container ng-show="isEditProperties && !isAttachment">
        <label><span class="md-warn">*</span> {{ 'COMMON.NAME' | translate }}</label>
        <input type="text" ng-model="documentProperties.title" required focus-me>
      </md-input-container>
      
      <md-input-container ng-hide="isAttachment">
        <label>{{ 'COMMON.TYPE' | translate }}</label>
        <md-select ng-model="documentProperties.doc_type" ng-disabled="newDocumentVersion">
          <md-option ng-repeat="type in documentConstraints.documentTypes" ng-value="type.nodeRef">
            {{ type.displayName }}
          </md-option>
        </md-select>
      </md-input-container>
      
      <md-input-container ng-hide="isAttachment">
        <label>{{ 'COMMON.CATEGORY' | translate }}</label>
        <md-select ng-model="documentProperties.doc_category" ng-disabled="newDocumentVersion">
          <md-option ng-repeat="category in documentConstraints.categoryConstraint" ng-value="category.value">
            {{ category.value | docCategory }}
          </md-option>
        </md-select>
      </md-input-container>
      
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button class="md-primary" ng-click="upload()">
        {{ 'COMMON.UPLOAD' | translate }}
      </md-button>
      <md-button ng-click="cancel()">
        {{ 'COMMON.CANCEL' | translate }}
      </md-button>
    </div>
  </form>
</md-dialog>