<md-content layout="column" ng-controller="ctrl.controller as taskCtrl">
    <div class="sub-toolbar" layout="row" layout-align="space-between center" layout-padding>
        <h1 class="md-headline" layout-margin>{{taskCtrl.task.properties.bpm_description}}</h1>
    </div>
    <md-tabs md-dynamic-height>
        <md-tab md-on-select="vm.onTabChange('case')">
            <md-tab-label>
                <span>{{ 'TASK.TASK_DETAILS' | translate }}</span>
            </md-tab-label>
            <md-tab-body>
                <md-content layout="row">
                    <div flex="50" layout="column">
                        <md-card>
                            <md-card-content>
                                <h3>{{ 'COMMON.INFORMATION' | translate }}</h4>
                            <dl layout="row" layout-wrap>

                              <dt flex="20">{{ 'COMMON.STATUS' | translate }}</dt>
                              <dd flex="66">
                                <section layout="row">
                                  <md-button ng-repeat="status in taskCtrl.statuses" class="button-status {{((taskCtrl.task.properties.bpm_status == status) && taskCtrl.toggleStatus.item == -1) ? 'active' : ''}}" ng-click="taskCtrl.changeStatus($index)" ng-class="{'active' : taskCtrl.toggleStatus.item == $index}">{{status | workflowTaskStatus}}</md-button>
                                </section>
                              </dd>

                              <dt flex="20">{{ 'COMMON.DUE_DATE' | translate }}</dt>
                              <dd flex="66">{{ taskCtrl.task.workflowInstance.dueDate | date }}</dd>

                              <dt flex="20">{{ 'COMMON.PRIORITY' | translate }}</dt>
                              <dd flex="66">{{ taskCtrl.task.workflowInstance.priority | workflowTaskPriority}}</dd>

                              <dt flex="20">{{ 'COMMON.CREATEDBY' | translate }}</dt>
                              <dd flex="66">{{ taskCtrl.task.workflowInstance.initiator.firstName }} {{ taskCtrl.task.workflowInstance.initiator.lastName }}</dd>

                              <dt flex="20">{{ 'COMMON.CREATED' | translate }}</dt>
                              <dd flex="66">{{ taskCtrl.task.workflowInstance.startDate | date }}</dd>

                              <dt flex="20">{{ 'COMMON.DESCRIPTION' | translate }}</dt>
                              <dd flex="66">{{ taskCtrl.task.description }}</dd>

                            </dl>
                          </md-card-content>
                          <div class="md-actions" layout="row">
                            <md-button class="md-primary" ng-click="taskCtrl.updateTask()">{{'TASK.SAVE_AND_CLOSE' | translate}}</md-button>
                            <md-button class="md-primary" ng-click="taskCtrl.cancel()">{{'COMMON.CANCEL' | translate}}</md-button>
                            <md-button class="md-primary" ng-click="taskCtrl.taskDone()">{{'TASK.TASK_DONE' | translate}}</md-button>
                          </div>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card>
                            <md-card-content>
                                <h3>{{'TASK.ITEMS' | translate}}</h3>
                                <md-divider style="margin-bottom: 1em;"></md-divider>
                                <div ng-repeat="item in taskCtrl.task.packageItems" layout="row" layout-align="left center">
                                    <div flex="80">
                                        <b>{{item.name}}</b>
                                        <div style="font-size: 0.8em;">{{ 'COMMON.CREATED' | translate }} {{item.modified | date}} {{ 'COMMON.BY' | translate }} {{item.createdBy.firstName}} {{item.createdBy.lastName}}</div>
                                    </div>
                                    <span flex="15">
                                        <md-button class="md-primary" ng-click="taskCtrl.previewDocument(item)">{{ 'COMMON.PREVIEW' | translate }}</md-button>
                                    </span>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <span>{{ 'WORKFLOW.WORKFLOW_DETAILS' | translate }}</span>
            </md-tab-label>
            <md-tab-body layout="column">
            </md-tab-body>
        </md-tab>
    </md-tabs>
