<md-input-container flex="100">
    <label>{{ 'COMMON.NAME' | translate }} *</label>
    <input type="text" name="title" ng-model="documentProperties.title" required>
    <opene-error form="newDocForm" field="newDocForm.title"></opene-error>
</md-input-container>

<md-input-container flex="50">
    <label>{{ 'COMMON.TYPE' | translate }} *</label>
    <md-select name="doc_type" ng-model="documentProperties.doc_type" required ng-disabled="newDocumentVersion">
        <md-option ng-repeat="type in documentConstraints.documentTypes" ng-value="type.nodeRef">
            {{ type.displayName}}
        </md-option>
    </md-select>
    <opene-error form="newDocForm" field="newDocForm.doc_type"></opene-error>
</md-input-container>

<md-input-container flex="50">
    <label>{{ 'COMMON.CATEGORY' | translate }} *</label>
    <md-select name="doc_category" ng-model="documentProperties.doc_category" required ng-disabled="newDocumentVersion">
        <md-option ng-repeat="category in documentConstraints.documentCategories" ng-value="category.nodeRef">
            {{ category.displayName}}
        </md-option>
    </md-select>
    <opene-error form="newDocForm" field="newDocForm.doc_category"></opene-error>
</md-input-container>

<md-input-container flex="100">
    <label>{{ 'COMMON.DESCRIPTION' | translate }}</label>
    <textarea ng-model="documentProperties.description" columns="1"></textarea>
</md-input-container>