<md-dialog class="dialog-small" aria-label="">
    <form name="uploadForm">
        
        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2 ng-hide="isAttachment || isEditProperties">{{ 'COMMON.UPLOAD' | translate }}</h2>
                <h2 ng-show="isAttachment">{{ 'DOCUMENT.UPLOAD_ATTACHMENT' | translate }}</h2>
                <h2 ng-show="isEditProperties">{{ 'DOCUMENT.EDIT_PROPERTIES' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div ng-hide="isEditProperties || fromFileObject" layout="column">
                <div>
                    <label class="label" for="doc-upload"><span class="md-warn">*</span> {{ 'DOCUMENT.DOCUMENT_TO_UPLOAD' | translate }}</label>
                    <input type="file" file-model="fileToUpload" id="doc-upload" focus-me>
                </div>
                <div>
                    <md-input-container ng-show="newDocumentVersion">
                        <label>{{ 'DOCUMENT.VERSIONTYPE' | translate }}</label>
                        <md-select ng-model="documentProperties.majorVersion">
                            <md-option ng-value="false">
                                {{ 'DOCUMENT.MINOR_VERSION' | translate }}
                            </md-option>
                            <md-option ng-value="true">
                                {{ 'DOCUMENT.MAJOR_VERSION' | translate }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <md-input-container layout ng-hide="isAttachment">
                <label><span class="md-warn">*</span> {{ 'COMMON.NAME' | translate }}</label>
                <input type="text" ng-model="documentProperties.title" focus-me>
            </md-input-container>

            <div layout>
                <md-input-container flex ng-hide="isAttachment">
                    <label><span class="md-warn">*</span> {{ 'COMMON.TYPE' | translate }}</label>
                    <md-select ng-model="documentProperties.doc_type" ng-disabled="newDocumentVersion">
                        <md-option ng-repeat="type in documentConstraints.documentTypes" ng-value="type.nodeRef">
                            {{ type.displayName }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex ng-hide="isAttachment">
                    <label><span class="md-warn">*</span> {{ 'COMMON.CATEGORY' | translate }}</label>
                    <md-select ng-model="documentProperties.doc_category" ng-disabled="newDocumentVersion">
                        <md-option ng-repeat="category in documentConstraints.documentCategories" ng-value="category.nodeRef">
                            {{ category.displayName }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <md-input-container layout ng-hide="isAttachment">
                <label>{{ 'COMMON.DESCRIPTION' | translate }}</label>
                <textarea ng-model="documentProperties.description" columns="1"></textarea>
            </md-input-container>

        </md-dialog-content>

        <div class="md-actions" layout>
            <md-button class="md-primary" ng-click="upload()">
                {{ 'COMMON.OK' | translate }}
            </md-button>
            <md-button ng-click="cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </div>

    </form>
</md-dialog>
