<md-dialog class="dialog-small" aria-label="">
    <form name="newDocForm">
        
        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2 ng-hide="isAttachment || isEditProperties">{{ 'COMMON.UPLOAD' | translate }}</h2>
                <h2 ng-show="isAttachment">{{ 'DOCUMENT.UPLOAD_ATTACHMENT' | translate }}</h2>
                <h2 ng-show="isEditProperties">{{ 'DOCUMENT.EDIT_PROPERTIES' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div ng-hide="isEditProperties || fromFileObject" layout="column">
                <div>
                    <label class="label" for="doc-upload">{{ 'DOCUMENT.DOCUMENT_TO_UPLOAD' | translate }} *</label>
                    <input type="file" file-model="fileToUpload" id="doc-upload">
                </div>
                <md-input-container flex ng-show="newDocumentVersion">
                    <label>{{ 'DOCUMENT.VERSIONTYPE' | translate }}</label>
                    <md-select ng-model="documentProperties.majorVersion">
                        <md-option ng-value="false">
                            {{ 'DOCUMENT.MINOR_VERSION' | translate }}
                        </md-option>
                        <md-option ng-value="true">
                            {{ 'DOCUMENT.MAJOR_VERSION' | translate }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout layout-wrap 
                 ng-if="!isAttachment" 
                 ng-include="'app/src/documents/view/caseDocumentCreateProperties.html'">
            </div>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" type="submit" ng-disabled="newDocForm.$invalid" ng-click="upload()">
                {{ 'COMMON.OK' | translate }}
            </md-button>
            <md-button ng-click="cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
