<md-dialog aria-label="{{ 'DOCUMENT.CREATE_FROM_TEMPLATE' | translate }}}">
    <form name="form" ng-controller="OfficeTemplateController as tempCtrl">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2>{{ 'DOCUMENT.CREATE_FROM_TEMPLATE' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <label class="label">{{'DOCUMENT.CHOOSE_TEMPLATE' | translate}}</label>
            <md-select ng-model="vm.template" required>
                <md-option ng-value="template" ng-repeat="template in tempCtrl.templates">{{ template.title }}</md-option>
            </md-select>
            
            <label class="label">{{'DOCUMENT.TEMPLATE.RECEIVER' | translate}}</label>
            <md-select ng-model="vm.receiver">
                <md-option ng-value="party" ng-repeat="party in vm.parties">{{party.displayName}}</md-option>
            </md-select>

            <div ng-repeat="field in vm.currentTemplate.fields">
                <md-input-container>
                    <label>{{field.value}}</label>
                    <input type="text" ng-model="vm.fieldData[field.name]">
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button type="submit" class="md-primary"
                       ng-click="tempCtrl.fillTemplate(vm.template, vm.fieldData)" ng-disabled="form.$invalid">
                {{ 'DOCUMENT.DOWNLOAD_RENDERED_FROM_TEMPLATE' | translate }}
            </md-button>
            <md-button type="button" ng-click="vm.cancel(form)">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </div>
    </form>
</md-dialog>