<div layout="row" layout-wrap>
    <div flex="55">
        <md-card>
            <md-card-content>
                <h3>{{ 'DOCUMENT.DOCUMENTS' | translate }}</h3>

                <div layout="row">
                    <dl layout="row" layout-wrap flex="50">
                        <dt flex="33">{{ 'COMMON.TITLE' | translate }}</dt><dd flex="66">{{ docCtrl.doc.title}}</dd>
                        <dt flex="33">{{ 'COMMON.STATUS' | translate }}</dt>
                        <dd flex="66">
                            {{ docCtrl.doc.status | docStatus }}
                            <span ng-show="docCtrl.doc.editLockState.isLocked" class="muted">
                                <span style="padding:0px;margin:0px">
                                    ({{'COMMON.LOCKED_BY'| translate: {locked_by: docCtrl.doc.editLockState.lockOwnerInfo} }}
                                    <span ng-repeat="extra in docCtrl.extrasControllers">
                                        <ng-include src="extra.docLockUrl"></ng-include>
                                    </span>)
                                </span>
                            </span>

                        </dd>
                        <dt flex="33">{{ 'COMMON.TYPE' | translate }}</dt><dd flex="66">
                            <i class="material-icons" ng-show="docCtrl.doc['fromOutlook']" title="{{ 'DOCUMENT.SENT_FROM_OUTLOOK' | translate}}" style="padding-right: 5px;">email</i>
                            {{ docCtrl.doc.typeDisplayName}}
                        </dd>
                        <dt flex="33">{{ 'COMMON.CATEGORY' | translate }}</dt><dd flex="66">{{ docCtrl.doc.categoryDisplayName}}</dd>
                        <dt flex="33">{{ 'COMMON.OWNER' | translate }}</dt><dd flex="66">{{ docCtrl.doc.owner}}</dd>
                        <dt flex="33">{{ 'COMMON.CREATED' | translate }}</dt><dd flex="66">{{ docCtrl.doc.created | openeDate }}</dd>

                    </dl>
                    <dl layout="row" layout-wrap flex="50" layout-align="start start">
                        <dt flex="40">{{ 'DOCUMENT.VERSION' | translate }}</dt>
                        <dd flex="60">
                            <select ng-model="docCtrl.docVersion" ng-options="version.label for version in docCtrl.documentVersions" ng-change="docCtrl.refreshDocumentView()"></select>
                        </dd>
                        <dt flex="40">{{ 'DOCUMENT.VERSION_ADDED' | translate }}</dt><dd flex="60">{{docCtrl.docVersion.createdDateISO| openeDate}}</dd>
                        <dt flex="40">{{ 'DOCUMENT.DOCUMENT_NAME' | translate }}</dt><dd flex="60">{{ docCtrl.docVersion.name}}</dd>
                        <dt flex="100" ng-hide="docCtrl.docVersion.description | isEmpty">{{ 'DOCUMENT.VERSION_DESCRIPTION' | translate }}</dt>
                        <dd flex="100" ng-hide="docCtrl.docVersion.description | isEmpty">{{ docCtrl.docVersion.description}}</dd>
                    </dl>
                </div>
                <p ng-bind="docCtrl.doc.description"></p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-padding>
                <md-button class="md-primary" ng-click="docCtrl.editDocumentProperties()" ng-disabled="docCtrl.doc.isLocked">{{ 'DOCUMENT.EDIT_PROPERTIES' | translate }}</md-button>
                <md-button class="md-primary" ng-click="docCtrl.uploadDocNewVersion()" ng-disabled="docCtrl.doc.isLocked || docCtrl.doc.editLockState.isLocked">{{'DOCUMENT.UPLOAD_NEW_VERSION'|translate }}</md-button>
                <md-button class="md-primary" ng-click="docCtrl.downloadDocument()">{{ 'COMMON.DOWNLOAD' | translate }}</md-button>
                <md-button class="md-primary" ng-click="docCtrl.deleteDocument()" ng-disabled="docCtrl.doc.isLocked" ng-show="docCtrl.isAdmin">{{ 'COMMON.DELETE' | translate }}</md-button>

                <md-menu>
                    <md-button class="md-primary" aria-label="{{ 'MENU.OPEN_MENU' | translate }}" ng-click="$mdOpenMenu($event)" ng-show="docCtrl.showDocumentEditActions()">
                        <md-icon>edit</md-icon>
                        {{ 'DOCUMENT.EDIT_DOCUMENT' | translate }}
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="actionItem in docCtrl.documentEditActions" ng-show="actionItem.isVisible(docCtrl.doc)">
                            <md-button ng-click="docCtrl.executeEditAction(actionItem)" ng-disabled="actionItem.isDisabled(docCtrl.doc)">
                                <md-icon>{{ actionItem.icon}}</md-icon>{{ actionItem.labelKey | translate }}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </div>
        </md-card>

        <ng-include ng-controller="DocumentAttachmentsController as docAttCtrl" 
                    ng-init="docAttCtrl.init('docCtrl.docVersion', 'docCtrl.documentNodeRef', 'docCtrl.doc.isDocumentEditable')" 
                    src="'app/src/documents/view/documentDetailsAttachments.html'"></ng-include>
    </div>
    <div flex="45">
        <md-card>
            <md-card-content>
                <div layout="row" layout-align="space-between center">
                    <h3 class="md-title">{{ 'DOCUMENT.PREVIEW' | translate }}</h3>
                    <md-button class="md-primary" ng-click="docCtrl.refreshDocumentPreview()"><i class="material-icons">refresh</i></md-button>
                </div>
                <div ng-controller="docCtrl.docPreviewController" class="preview-window-container">
                    <ng-include class="preview-window" src="viewerTemplateUrl"></ng-include>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>