<md-dialog aria-label="{{ 'DOCUMENT.UPLOAD_DOCUMENT' | translate }}">
  <form>
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>{{ 'DOCUMENT.UPLOAD_DOCUMENT' | translate }}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;min-width:20em">
      <input type="file" file-model="fileToUpload"/>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button class="md-primary" ng-click="upload()">
        {{ 'COMMON.UPLOAD' | translate }}
      </md-button>
      <md-button ng-click="cancel()">
        {{ 'COMMON.CANCEL' | translate }}
      </md-button>
    </div>
  </form>
</md-dialog>