<md-dialog class="dialog-small" aria-label="{{ 'DOCUMENT_CATEGORIES.CREATE_EDIT_DOC_CATEGORY' | translate }}">
    <form name="docCategoryForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'DOCUMENT_CATEGORIES.CREATE_EDIT_DOC_CATEGORY' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div layout="column">

                <md-input-container flex>
                    <label>{{ 'DOCUMENT_CATEGORIES.NAME' | translate }} *</label>
                    <input type="text" name="name" ng-model="dc.documentCategory.name" md-autofocus required ng-pattern="dc.PATTERNS.fileName" 
                            ng-disabled="dc.documentCategory.systemType">
                    <opene-error form="docCategoryForm" field="docCategoryForm.name"></opene-error>
                </md-input-container>

                <md-input-container flex ng-repeat="avLang in dc.availableLanguages">
                    <label>{{ 'DOCUMENT_CATEGORIES.DISPLAY_NAME' | translate }} ({{avLang}}) *</label>
                    <input type="text" name="{{avLang}}" ng-model="dc.documentCategory.mlDisplayNames[avLang]" required ng-maxlength="150">
                    <opene-error form="docCategoryForm" field="docCategoryForm[avLang]"></opene-error>
                </md-input-container>

            </div>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" type="submit" ng-disabled="docCategoryForm.$invalid" ng-click="dc.save(docCategoryForm)">
                {{ 'COMMON.SAVE' | translate }}
            </md-button>
            <md-button ng-click="dc.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
