<md-dialog aria-label="Case edit dialog">
  <form name="form">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>Create / edit case</h2>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;min-width:20em;">
      <md-input-container>
        <label>Case title</label>
        <input type="text" ng-model="case.title" required>
      </md-input-container>
      <md-input-container>
        <label>Case status</label>
        <input type="text" ng-model="case.status" required>
      </md-input-container>
      <md-input-container ng-controller="CaseController as vm">
        <label>Case owner</label>
        <select ng-model="case.owner" ng-options="authority.nodeRef as authority.name for authority in vm.authorities"/>
      </md-input-container>
      <md-input-container>
        <label>Assigned to</label>
        <input type="text" ng-model="case.assignedTo" required>
      </md-input-container>
      <md-input-container>
        <label>Start date</label>
        <input type="date" ng-model="case.startDate" required>
      </md-input-container>
      <md-input-container>
        <label>End date</label>
        <input type="date" ng-model="case.endDate" required>
      </md-input-container>
      <md-input-container>
        <label>Notes / Description</label>
        <textarea ng-model="case.desc"></textarea>
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button type="submit" class="md-primary" ng-click="vm.update(case)" ng-disabled="form.$invalid">
        Create / save case
      </md-button>
      <md-button type="button" ng-click="vm.cancel(form)">
        Cancel
      </md-button>
      <md-button type="button" ng-disabled="true">
        Archive case
      </md-button>
    </div>
  </form>
</md-dialog>