<md-dialog class="dialog-small" aria-label="">
    <form name="assignToForm" novalidate>
        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2>{{ 'CASE.ASSIGN_TO' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout>
            <div flex class="opene-autocomplete-wrapper">
                <opene-autocomplete datasource="dlg.assign_to" controller-name="AuthoritySelectorController" required="true" name="assign_to" label="{{'CASE.OWNER' | translate}} *"></opene-autocomplete>
                <opene-error form="assignToForm" field="assignToForm.assign_to"></opene-error>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" type="submit" ng-click="dlg.assign()" ng-disabled="assignToForm.$invalid">
                {{ 'CASE.ASSIGN_TO' | translate }}
            </md-button>
            <md-button ng-click="dlg.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
