<md-card >
  <md-card-content>
    <md-subheader>{{ 'CASE.CASE' | translate }}: {{ case["oe:id"].value }}</md-subheader>
    <div style="float: right; color: #999; white-space: nowrap;">
      {{ 'CASE.CREATED_BY' | translate: {at:$filter('openeDate')(case["cm:created"].value), by:case["cm:creator"].fullname} }}<br> 
      {{ 'CASE.MODIFIED_BY' | translate: {at:$filter('openeDate')(case["cm:modified"].value), by:case["cm:modifier"].fullname} }}
    </div>
    <h2>{{ case["cm:title"].value }}</h2>
    <p>{{ case["cm:description"].value }}</p>
  </md-card-content>
  <div class="md-actions">
    <a class="md-button md-primary" href="#/cases/case/{{ case['oe:id'].value }}" target="_blank">{{ 'CASE.VIEW_CASE_DETAILS' | translate }}</a>
  </div>
</md-card>
