<app-header></app-header>

<md-content layout="column">
  
  <div class="sub-toolbar" layout-padding>
    <md-button ng-href="#/cases"><i class="material-icons" style="vertical-align: middle;">arrow_back</i> {{ 'CASE.CASES' | translate }}</md-button>
    <div layout="row" layout-padding layout-align="space-between end">
      <div>
        <h1 class="md-headline">{{ case["oe:id"].value }} {{ case["cm:title"].value }}
          <span class="muted"
                ng-hide="case['oe:status'].value === 'active'">({{case['oe:status'].value | caseStatus}})</span></h1>
      </div>
      <div class="md-actions" layout="column">
        <md-menu>
          <md-button class="md-primary" ng-click="$mdOpenMenu($event)"
                     aria-label="{{ 'CASE.CHANGE_STATUS' | translate }}"
                     ng-disabled="caseStatusChoices.length == 0">
            {{ 'CASE.CHANGE_STATUS' | translate }}
          </md-button>
          <md-menu-content>
            <md-menu-item ng-repeat="choiceName in caseStatusChoices">
              <md-button
                      ng-class="{'current-choice': choiceName === case['oe:status'].value}"
                      ng-disabled="choiceName === case['oe:status'].value"
                      aria-label="{{ choiceName | caseStatus }}"
                      ng-click="vm.changeCaseStatus(choiceName)">{{ choiceName | caseStatus }}</md-button>
            </md-menu-item>
  
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </div>
  
  <md-tabs md-dynamic-height>
    
    <md-tab md-on-select="vm.onTabChange('case')">
      <md-tab-label>
        <span>{{ 'CASE.CASE' | translate }}</span>
      </md-tab-label>
      <md-tab-body>
        
        <div layout="row" layout-wrap>
          
          <div flex="100" flex-gt-md="25">
            <md-card>
              <md-card-content>
                <h3 class="md-title">{{ 'COMMON.INFORMATION' | translate }}</h3>
                <dl layout="row" layout-wrap>
                  <dt flex="33">{{ 'COMMON.ID' | translate }}</dt><dd flex="66">{{ case["oe:id"].value }}</dd>
                  <dt flex="33">{{ 'COMMON.TITLE' | translate }}</dt><dd flex="66">{{ case["cm:title"].value }}</dd>
                  <dt flex="33">{{ 'COMMON.STATUS' | translate }}</dt><dd flex="66">{{ case["oe:status"].value | caseStatus }}</dd>
                  <dt flex="33">{{ 'COMMON.CREATEDBY' | translate }}</dt><dd flex="66">{{ case["cm:creator"].fullname }}</dd>
                  <dt flex="33">{{ 'COMMON.CREATED' | translate }}</dt><dd flex="66">{{ case["cm:created"].value | date: 'yyyy-MM-dd'}}</dd>
                  <dt flex="33">{{ 'CASE.CASE_OWNER' | translate }}</dt><dd flex="66">{{ case["base:owners"].fullname }}</dd>
                  <dt flex="33">{{ 'COMMON.MODIFIED' | translate }}</dt><dd flex="66">{{ case["cm:modified"].value  | date: 'yyyy-MM-dd'}}</dd>
                  <dt flex="33">{{ 'COMMON.DESCRIPTION' | translate }}</dt><dd flex="66">{{ case["cm:description"].value }}</dd>
                </dl>
              </md-card-content>
              <div class="md-actions" layout="row" layout-wrap>
                <md-button class="md-primary" ng-click="vm.editCase($event)"
                           ng-disabled="caseIsLocked">{{ 'CASE.EDIT_INFORMATION' | translate }}</md-button>
                <md-button class="md-primary" ng-disabled="true">{{ 'CASE.PRINT_CASE' | translate }}</md-button>
                <md-button class="md-primary" ng-disabled="true">{{ 'CASE.START_WORKFLOW' | translate }}</md-button>
              </div>
            </md-card>
          </div>
          
          <div flex="100" flex-gt-md="75">
            <md-card ng-controller="DocumentController as docCtrl">
              <md-card-content>
                <h3 class="md-title">{{ 'DOCUMENT.DOCUMENTS' | translate }}</h3>
                <table>
                  <thead>
                    <tr>
                      <th>{{ 'COMMON.TITLE' | translate }}</th>
                      <th>{{ 'COMMON.NO' | translate }}</th>
                      <th>{{ 'COMMON.STATUS' | translate }}</th>
                      <th>{{ 'COMMON.TYPE' | translate }}</th>
                      <th>{{ 'COMMON.CATEGORY' | translate }}</th>
                      <th>{{ 'COMMON.STATE' | translate }}</th>
                      <th>{{ 'COMMON.OWNER' | translate }}</th>
                      <th>{{ 'COMMON.CREATED' | translate }}</th>
                      <th>{{ 'COMMON.MODIFIED' | translate }}</th>
                      <th>{{ 'COMMON.ACTION' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="doc in docCtrl.documents" class="{{ doc.isUpdated ? 'updated' : 'not-updated' }}">
                      <td>{{ doc["cm:name"] }}</td>
                      <td class="muted">{{ doc.docNo }}</td>
                      <td class="muted">{{ doc["oe:status"] | docStatus }}</td>
                      <td class="muted">{{ doc["doc:type"] | docType }}</td>
                      <td class="muted">{{ doc["doc:category"] | docCategory }}</td>
                      <td class="muted">{{ doc["doc:state"] | docState }}</td>
                      <td class="muted">
                          <span ng-repeat="owner in doc['doc:owner']">{{owner.fullname}}</span>
                      </td>
                      <td class="muted">{{ doc["cm:created"] | date: 'yyyy-MM-dd' }}</td>
                      <td class="muted">{{ doc["cm:modified"] | date: 'yyyy-MM-dd' }}</td>
                      <td layout="row">
                          <md-button class="md-primary" href="#/cases/case/{{docCtrl.caseId}}/doc/{{doc.nodeRef | nodeRefUri}}">{{ 'COMMON.VIEW_DETAILS' | translate }}</md-button> 
                          <md-button class="md-primary" ng-click="docCtrl.previewDocument(doc.mainDocNodeRef)">{{ 'COMMON.PREVIEW' | translate }}</md-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                {{ 'COMMON.PAGES' | translate }}: <md-button ng-repeat="page in docCtrl.pages" ng-click="docCtrl.loadDocuments(page)">{{page}}</md-button>
              </md-card-content>
              <div class="md-actions" layout="row">
                <md-button class="md-primary" ng-disabled="true">{{ 'DOCUMENT.CREATE_NEW_DOCUMENT' | translate }}</md-button>
                <md-button class="md-primary"
                           ng-click="docCtrl.uploadDocument()"
                           ng-disabled="caseIsLocked">
                  {{ 'DOCUMENT.UPLOAD_NEW_DOCUMENTS' | translate }}
                </md-button>
                <md-button class="md-primary" ng-disabled="docCtrl.noDocuments()" ng-click="docCtrl.emailDocuments()">{{'DOCUMENT.EMAIL_DOCUMENTS' | translate}}</md-button>
              </div>
            </md-card>
          </div>
          
        </div>
        
      </md-tab-body>
    </md-tab>
    
    <md-tab>
      <md-tab-label>
        <span>{{ 'NOTE.NOTES' | translate }}</span>
      </md-tab-label>
      <md-tab-body layout="column">
        <md-card ng-controller="NoteController as caseNotes">
          <md-card-content>
            <h3>{{ 'NOTE.NOTES' | translate }}</h3>
            <md-list>
              <md-list-item ng-repeat="note in caseNotes.notes">
                <div class="md-list-item-text">
                  <h4>{{ note.headline }}</h4>
                  <p>{{ note.content }}</p>
                  <p style="font-size: 0.8em; color: #999;">
                    {{ 'COMMON.CREATED' | translate }} {{ note.created | date: 'yyyy-MM-dd' }} {{ 'COMMON.BY' | translate }} {{ note.authorInfo.firstName + ' ' + note.authorInfo.lastName }}<br>
                    {{ 'NOTE.RELATED' | translate }}: <span style="margin-right: 0.5em;" ng-repeat="relation in note.concernedPartiesInfo">{{ relation.name }}</span>
                  </p>
                </div>
              </md-list-item>                
            </md-list>
              {{ 'COMMON.SHOWING' | translate }} {{caseNotes.contentRange.startIndex}}-{{caseNotes.contentRange.endIndex}} {{ 'COMMON.OF' | translate }} {{caseNotes.contentRange.totalItems}}<br>
              {{ 'COMMON.PAGES' | translate }}: <span style="margin-right: 10px;" ng-repeat="page in caseNotes.pages"><button ng-click="caseNotes.loadNotes(page)">{{page}}</button></span>
          </md-card-content>
          <div class="md-actions" layout="row">
            <md-button class="md-primary" ng-click="caseNotes.newNote()"
                       ng-disabled="caseIsLocked">{{ 'NOTE.NEW_NOTE' | translate }}</md-button>
            <md-button class="md-primary" ng-disabled="true">{{ 'NOTE.PRINT_ALL_NOTES' | translate }}</md-button>
          </div>
        </md-card>
      </md-tab-body>
    </md-tab>
    
    <md-tab md-on-select="vm.onTabChange('members')">
      <md-tab-label>
        <span>{{ 'MEMBER.MEMBERS' | translate }}</span>
      </md-tab-label>
      <md-tab-body layout="column">
        <md-card>
          <md-card-content>
            <h3>{{ 'MEMBER.MEMBERS' | translate }}</h3>
          </md-card-content>
          <div class="md-actions">
          </div>
        </md-card>
      </md-tab-body>
    </md-tab>
    
    <md-tab md-on-select="vm.onTabChange('parties')">
      <md-tab-label>
        <span>{{ 'PARTY.TITLE'| translate }}</span>
      </md-tab-label>
        <md-tab-body layout="column">
            <div ng-include="'app/src/parties/view/caseParties.html'"></div>
      </md-tab-body>
    </md-tab>
      
    <md-tab md-on-select="vm.onTabChange('history')">
      <md-tab-label>
        <span>{{ 'COMMON.HISTORY' | translate }}</span>
      </md-tab-label>
      <md-tab-body layout="column">
        <md-card ng-controller="CaseHistoryController as historyCtrl">
          <md-card-content>
            <h3>{{ 'CASE.CASE_HISTORY' | translate }}</h3>
            <table>
              <thead>
                <tr>
                  <th>{{ 'COMMON.ACTION' | translate }}</th>
                  <th>{{ 'COMMON.TYPE' | translate }}</th>
                  <th>{{ 'USER.USER' | translate }}</th>
                  <th>{{ 'COMMON.TIME' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="log in historyCtrl.history">
                  <td>{{ log.action }}</td>
                  <td>{{ log.type }}</td>
                  <td>{{ log.user }}</td>
                  <td>{{ log.time | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
                </tr>
              </tbody>
            </table>
          </md-card-content>
          <div class="md-actions">
              <div style="float: right;">
                  <span>{{historyCtrl.startIndex}} - {{historyCtrl.endIndex}} {{ 'COMMON.OF' | translate }} {{historyCtrl.totalItems}}</span>
                  <span>
                      <md-button ng-click="historyCtrl.loadPreviousPage()" ng-disabled="!historyCtrl.previousPage">&lt;</md-button>
                      <md-button ng-click="historyCtrl.loadNextPage()" ng-disabled="!historyCtrl.nextPage">&gt;</md-button>
                  </span>
              </div>
          </div>
        </md-card>
      </md-tab-body>
    </md-tab>
    
  </md-tabs>

</md-content>

<app-footer></app-footer>
