<app-header></app-header>

<md-content layout="column">
  
    <div class="sub-toolbar" layout="row" layout-align="space-between center" layout-padding>
    
        <h1 class="md-headline" layout-margin>{{ 'CASE.CASES' | translate }}</h1>

        <opene-list-filter list="vm.caseFilter" 
                            choice="vm.caseFilterChoice"
                            finished="vm.getCases">
        </opene-list-filter>
    
        <md-menu>
          <md-button class="md-primary" ng-click="$mdOpenMenu($event)" aria-label="{{ 'CASE.CREATE_NEW_CASE' | translate }}">
            <i class="material-icons">add</i>
            {{ 'CASE.CREATE_NEW_CASE' | translate }}
          </md-button>
          <md-menu-content>
            <md-menu-item><md-button ng-click="vm.createCase($event, 'standard')">{{ 'CASE.CASETYPE_STANDARD' | translate }}</md-button></md-menu-item>
            <md-menu-item><md-button ng-disabled="true">{{ 'CASE.CASETYPE_OTHER' | translate }}</md-button></md-menu-item>
          </md-menu-content>
        </md-menu>
    
    </div>

    <md-card>
      <md-card-content>
        
        <div class="repeat-table">
            <div class="repeat-header" layout="row">
                <span class="r" flex="5"></span>
                <span class="r" flex="15">{{ 'COMMON.TITLE' | translate }}</span>
                <span class="r" flex>{{ 'COMMON.ID' | translate }}</span>
                <span class="r" flex>{{ 'COMMON.TYPE' | translate }}</span>
                <span class="r" flex>{{ 'COMMON.CREATED' | translate }}</span>
                <span class="r" flex>{{ 'CASE.STARTDATE' | translate }}</span>
                <span class="r" flex>{{ 'CASE.ENDDATE' | translate }}</span>
                <span class="r" flex>{{ 'COMMON.MODIFIED' | translate }}</span>
                <span class="r" flex>{{ 'COMMON.STATUS' | translate }}</span>
            </div>
            <md-virtual-repeat-container md-auto-shrink style="height: 470px;">
                <div md-virtual-repeat="case in vm.cases" class="repeat-item">
                    <a class="r-rowlink"
                       ui-sref="caseinfo({'caseId': case['oe:id']})"
                       layout="row"
                       class="{{ case['oe:status'] == 'passive' ? 'muted' : '' }}"
                       ui-sref="caseinfo({'caseId': case['oe:id']})">
                        <span class="r" flex="5"><i class="material-icons">folder_open</i></span>
                        <span class="r" flex="15">{{case["cm:title"]}}</span>
                        <span class="r muted" flex>{{case["oe:id"]}}</span>
                        <span class="r muted" flex>{{case["TYPE"]}}</span>
                        <span class="r muted" flex>{{case["cm:created"] | openeDate}}</span>
                        <span class="r muted" flex>{{case["base:startDate"] | openeDate}}</span>
                        <span class="r muted" flex>{{case["base:endDate"] | openeDate}}</span>
                        <span class="r muted" flex>{{case["cm:modified"] | openeDate}}</span>
                        <span class="r muted" flex>{{ case["oe:status"] | caseStatus }}</span>
                    </a>
                </div>
            </md-virtual-repeat-container>
        </div>
        
        <md-menu>
            <md-button class="md-primary" ng-click="$mdOpenMenu($event)" aria-label="{{ 'CASE.CREATE_NEW_CASE' | translate }}">
                <i class="material-icons">add</i>
                {{ 'CASE.CREATE_NEW_CASE' | translate }}
            </md-button>
            <md-menu-content>
                <md-menu-item><md-button ng-click="vm.createCase($event, 'standard')">{{ 'CASE.CASETYPE_STANDARD' | translate }}</md-button></md-menu-item>
                <md-menu-item><md-button ng-disabled="true">{{ 'CASE.CASETYPE_OTHER' | translate }}</md-button></md-menu-item>
            </md-menu-content>
        </md-menu>
        
      </md-card-content>
    </md-card>

</md-content>
  
<app-footer></app-footer>
