<md-dialog class="dialog-small" aria-label="">
    <form name="assignToForm" novalidate>
        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2>{{ 'CASE.ASSIGN_TO' | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout>
                <md-input-container flex="100">
                    <label>{{ 'CASE.OWNER' | translate }} *</label>
                    <md-select name="assign_to" ng-model="dlg.assign_to" required>
                        <ng-include src="'app/src/common/components/authoritySelector/view/authoritySelectorOptions.html'"
                                    ng-controller="AuthoritySelectorController as authCtrl"></ng-include>
                    </md-select>
                    <opene-error form="assignToForm" field="assignToForm.assign_to"></opene-error>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" type="submit" ng-click="dlg.assign()" ng-disabled="assignToForm.$invalid">
                {{ 'CASE.ASSIGN_TO' | translate }}
            </md-button>
            <md-button ng-click="dlg.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
