<app-header></app-header>
<md-content layout="column" ng-controller="GroupCasesController as groupCaseCtrl">
    <md-tabs md-dynamic-height>
        <md-tab md-on-select="vm.onTabChange('myCases');vm.getCases()">
            <md-tab-label>
                <span>{{ 'CASE.MY_CASES' | translate }}</span>
            </md-tab-label>
            <md-tab-body>
                <md-card>
                    <md-card-content>
                        <div layout="row" layout-align="space-between start">
                            <div flex>
                                <md-input-container md-no-float>
                                    <i class="material-icons" style="position:absolute;top:0.5rem;left:0.5rem;color:rgba(0, 0, 0, 0.25)">search</i>
                                    <input type="text" ng-model="freeTextSearch" placeholder="{{ 'SEARCH.SEARCH' | translate }}" style="padding:0.5rem 0.5rem 0.5rem 2rem" />
                                </md-input-container>
                            </div>
                            <div flex>
                                <opene-list-filter list="vm.caseFilter" choice="vm.caseFilterChoice" finished="vm.getCases()" ng-show="vm.tab == 'myCases'">
                                </opene-list-filter>
                            </div>
                        </div>
                        <div class="repeat-table">
                            <div class="repeat-header" layout="row">
                                <div layout="row" flex="{{vm.isAdmin ? 90 : 100}}">
                                    <div class="r icon" flex="none"></div>
                                    <div class="r" flex>
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="cm:title">
                                                {{ 'COMMON.TITLE' | translate }}
                                            </span>
                                            <opene-column-filter type="text" filter="vm.filterArray" value="caseName" />
                                        </div>
                                    </div>
                                    <div class="r" flex="15">
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="oe:id">
                                                {{ 'COMMON.ID' | translate }}
                                            </span>
                                            <opene-column-filter type="text" filter="vm.filterArray" value="id" />
                                        </div>
                                    </div>
                                    <div class="r" flex="10">
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="TYPE">
                                                {{ 'COMMON.TYPE' | translate }}
                                            </span>
                                            <opene-column-filter type="checkbox" list="vm.caseTypes" filter="vm.filterArray" value="type" />
                                        </div>
                                    </div>
                                    <div class="r" flex="15">
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="cm:created">
                                                {{ 'COMMON.CREATED' | translate }}
                                            </span>
                                            <opene-column-filter type="date" filter="vm.filterArray" value="created" />
                                        </div>
                                    </div>
                                    <div class="r" flex="15">
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="cm:modified">
                                                {{ 'COMMON.MODIFIED' | translate }}
                                            </span>
                                            <opene-column-filter type="date" filter="vm.filterArray" value="modified" />
                                        </div>
                                    </div>
                                    <div class="r" flex="10">
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="oe:status">
                                                {{ 'COMMON.STATUS' | translate }}
                                            </span>
                                            <opene-column-filter type="checkbox" list="vm.caseStatuses" filter="vm.filterArray" value="status" />
                                        </div>
                                    </div>
                                </div>
                                <div flex="10" ng-show="vm.isAdmin"></div>
                            </div>
                            <md-virtual-repeat-container flex-height style="border-bottom:0">
                                <div md-virtual-repeat="case in vm.cases | orderObjectBy:orderByAttribute:reverseOrder | filter:vm.columnFilter | filter:freeTextSearch" class="repeat-item" layout="row">
                                    <a class="r-rowlink" ui-sref="case({'caseId': case['oe:id']})" layout="row" class="{{ case['oe:status'] == 'passive' ? 'muted' : '' }}" flex="{{vm.isAdmin ? 90 : 100}}">
                                        <span class="r icon" flex="none"><i class="material-icons">folder_open</i></span>
                                        <span class="r" flex>{{case["cm:title"]}}</span>
                                        <span class="r muted" flex="15">{{case["oe:id"]}}</span>
                                        <span class="r muted" flex="10">{{case["TYPE"] | caseType}}</span>
                                        <span class="r muted" flex="15">{{case["cm:created"] | openeDate}}</span>
                                        <span class="r muted" flex="15">{{case["cm:modified"] | openeDate}}</span>
                                        <span class="r muted" flex="10">{{case["oe:status"] | caseStatus }}</span>
                                    </a>
                                    <span flex="10" ng-show="vm.isAdmin"><md-button class="md-primary" ng-click="vm.deleteCase(case)" data-case-id="{{case['oe:id']}}">{{ 'COMMON.DELETE' | translate }}</md-button></span>
                                </div>
                            </md-virtual-repeat-container>
                        </div>
                        <ng-include src="'app/src/cases/view/createCaseMenu.html'"></ng-include>
                    </md-card-content>
                </md-card>
            </md-tab-body>
        </md-tab>
        <md-tab md-on-select="vm.onTabChange('groupCases');groupCaseCtrl.getCases()">
            <md-tab-label>
                <span>{{ 'CASE.GROUP_CASES' | translate }}</span>
            </md-tab-label>
            <md-tab-body>
                <md-card>
                    <md-card-content>
                        <div layout="row" layout-align="space-between center">
                            <div flex>
                                <md-input-container md-no-float>
                                    <i class="material-icons" style="position:absolute;top:0.5rem;left:0.5rem;color:rgba(0, 0, 0, 0.25)">search</i>
                                    <input type="text" ng-model="groupFilter" placeholder="{{ 'SEARCH.SEARCH' | translate }}" style="padding:0.5rem 0.5rem 0.5rem 2rem" />
                                </md-input-container>
                            </div>
                            <div layout="row" layout-align="end center" style="text-align:right">
                                <div flex class="opene-toggleview">
                                    <md-button class="md-icon-button md-accent" ng-class="{active: groupCaseCtrl.layout == 'grid'}" ng-click="groupCaseCtrl.layout = 'grid'" title="{{ 'COMMON.GRID_VIEW' | translate }}">
                                        <i class="material-icons">view_module</i>
                                    </md-button>
                                    <md-button class="md-icon-button md-accent" ng-class="{active: groupCaseCtrl.layout == 'list'}" ng-click="groupCaseCtrl.layout = 'list'" title="{{ 'COMMON.LIST_VIEW' | translate }}">
                                        <i class="material-icons">view_list</i>
                                    </md-button>
                                </div>
                                <opene-list-filter list="groupCaseCtrl.caseFilter" choice="groupCaseCtrl.caseFilterChoice" finished="groupCaseCtrl.getCases()" ng-show="vm.tab == 'groupCases'">
                                </opene-list-filter>
                            </div>
                        </div>
                        <div ng-if="groupCaseCtrl.layout == 'grid'" layout="row" layout-wrap>
                            <div ng-repeat="case in groupCaseCtrl.cases | filter:groupFilter" flex="33" layout-padding layout="column" class="grid-hover">
                                <div flex>
                                    <h3>
                                        <span style="font-size: 0.7em;font-weight:normal;" class="r muted">{{'CASE.CASE' | translate}}: {{case["oe:id"]}}</span>
                                        <br/>
                                        {{case["cm:title"]}}
                                    </h3>
                                    <div>{{case["cm:description"]}}</div>
                                    <div style="margin:20px 0">
                                        <div ng-repeat="document in case.documents" layout="row">
                                            <span class="r muted" flex>{{document["cm:title"]}}</span>
                                            <span flex>
                                                <a href="javascript:void(0)" ng-click="groupCaseCtrl.previewDocument(document.mainDocNodeRef)">{{ 'COMMON.PREVIEW' | translate }}</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="repeat-item">
                                    <div style="font-size: 0.8em;" class="muted">
                                        <div class="r muted" translate="CASE.CREATED_BY" translate-value-at="{{case['cm:created'] | openeDate}}" translate-value-by="{{case['cm:creator']}}"></div>
                                        <div class="r muted">{{'COMMON.STATUS' | translate}}: {{ case["oe:status"] | caseStatus }}</div>
                                        <div class="r muted">
                                            {{'COMMON.OWNER' | translate}}:
                                            <span ng-repeat="owner in case['base:owners']">{{owner.fullname}}</span>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <span>
                                            <md-button class="md-primary" ng-click="groupCaseCtrl.assignTo(case)">{{ 'CASE.ASSIGN_TO' | translate }}</md-button>
                                        </span>
                                        <span>
                                            <md-button class="md-primary" href="#/cases/case/{{case['oe:id']}}">{{ 'CASE.VIEW_CASE_DETAILS' | translate }}</md-button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="groupCaseCtrl.layout == 'list'" class="repeat-table">
                            <div class="repeat-header" layout="row">
                                <div layout="row" flex="95">
                                    <div class="r icon" flex="none"></div>
                                    <div class="r" flex>
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="cm:title">
                                                {{ 'COMMON.TITLE' | translate }}
                                            </span>
                                            <opene-column-filter type="text" filter="vm.filterArray" value="caseName" />
                                        </div>
                                    </div>
                                    <div class="r" flex="15">
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="oe:id">
                                                {{ 'COMMON.ID' | translate }}
                                            </span>
                                            <opene-column-filter type="text" filter="vm.filterArray" value="id" />
                                        </div>
                                    </div>
                                    <div class="r" flex="15">
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="cm:created">
                                                {{ 'COMMON.CREATED' | translate }}
                                            </span>
                                            <opene-column-filter type="date" filter="vm.filterArray" value="created" />
                                        </div>
                                    </div>
                                    <div class="r" flex="10">
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="cm:creator">
                                                {{ 'COMMON.CREATED' | translate }} {{ 'COMMON.BY' | translate }}
                                            </span>
                                            <opene-column-filter type="text" filter="vm.filterArray" value="creator" />
                                        </div>
                                    </div>
                                    <div class="r" flex="10" sort-table="base:owners.0.fullname">{{'COMMON.OWNER' | translate}}</div>
                                    <div class="r" flex="10">
                                        <div layout="row" layout-align="space-between center">
                                            <span sort-table="oe:status">
                                                {{ 'COMMON.STATUS' | translate }}
                                            </span>
                                            <opene-column-filter type="checkbox" list="vm.caseStatuses" filter="vm.filterArray" value="status" />
                                        </div>
                                    </div>
                                </div>
                                <div flex="5"></div>
                            </div>
                            <md-virtual-repeat-container md-auto-shrink style="border-bottom:0">
                                <div md-virtual-repeat="case in groupCaseCtrl.cases | orderObjectBy:orderByAttribute:reverseOrder | filter:vm.columnFilter | filter:groupFilter" class="repeat-item" layout="row">
                                    <a class="r-rowlink" href="#/cases/case/{{case['oe:id']}}" layout="row" class="{{ case['oe:status'] == 'passive' ? 'muted' : '' }}" flex="95">
                                        <span class="r icon" flex="none"><i class="material-icons">folder_open</i></span>
                                        <span class="r" flex>{{case["cm:title"]}}</span>
                                        <span class="r muted" flex="15">{{case["oe:id"]}}</span>
                                        <span class="r muted" flex="15">{{case["cm:created"] | openeDate}}</span>
                                        <span class="r muted" flex="10">{{case['cm:creator']}}</span>
                                        <span class="r muted" flex="10"><span ng-repeat="owner in case['base:owners']">{{owner.fullname}}</span></span>
                                        <span class="r muted" flex="10">{{ case["oe:status"] | caseStatus }}</span>
                                    </a>
                                    <span flex="5"><md-button class="md-primary" ng-click="groupCaseCtrl.assignTo(case)">{{ 'CASE.ASSIGN_TO' | translate }}</md-button></span>
                                </div>
                            </md-virtual-repeat-container>
                        </div>
                    </md-card-content>
                </md-card>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
<app-footer></app-footer>
