<app-header></app-header>

<md-content layout="column">
    <div class="sub-toolbar">
        <div layout="row" layout-align="space-between center" layout-padding>
            <div layout="row" layout-align="start center">
                <md-button ng-href="#/cases" ng-aria="{{ 'CASE.CASES' | translate }}">
                    <i class="material-icons" style="vertical-align: middle;">arrow_back</i> {{ 'CASE.CASES' | translate }}
                </md-button>
                <h1 class="md-headline" layout-margin>
                    {{ caseCtrl.case["cm:title"].value }} <span class="muted">{{ caseCtrl.case["oe:id"].value }}</span>
                    <span class="muted" ng-hide="caseCtrl.case['oe:status'].value === 'active'">
                        ({{caseCtrl.case['oe:status'].value| caseStatus}})
                    </span>
                </h1>
            </div>

            <md-menu>
                <md-button class="md-primary" ng-click="$mdOpenMenu($event)"
                           aria-label="{{ 'CASE.CHANGE_STATUS' | translate }}"
                           ng-disabled="caseCtrl.caseStatusChoices.length == 0">
                    {{ 'CASE.CHANGE_STATUS' | translate }}
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="choiceName in caseCtrl.caseStatusChoices">
                        <md-button ng-class="{'current-choice': choiceName === caseCtrl.case['oe:status'].value}"
                                   ng-disabled="choiceName === caseCtrl.case['oe:status'].value"
                                   aria-label="{{ choiceName | caseStatus }}"
                                   ng-click="caseCtrl.changeCaseStatus(choiceName)">
                            {{ choiceName | caseStatus }}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>

    <md-tabs md-dynamic-height md-selected="currentTab">

        <md-tab ui-sref="case.info">
            <md-tab-label>
                <span><i class="material-icons">folder_open</i> {{ 'CASE.CASE' | translate }}</span>
            </md-tab-label>
            <md-tab-body>
                <div ui-view="caseInfo"></div>
            </md-tab-body>
        </md-tab>

        <md-tab ui-sref="case.notes">
            <md-tab-label>
                <span><i class="material-icons">library_books</i> {{ 'NOTE.NOTES' | translate }}</span>
            </md-tab-label>
            <md-tab-body layout="column">
                <div ui-view="caseNotes"></div>
            </md-tab-body>
        </md-tab>

        <md-tab ui-sref="case.members">
            <md-tab-label>
                <span><i class="material-icons">people</i> {{ 'MEMBER.MEMBERS' | translate }}</span>
            </md-tab-label>
            <md-tab-body layout="column">
                <div ui-view="caseMembers"></div>
            </md-tab-body>
        </md-tab>

        <md-tab ui-sref="case.parties">
            <md-tab-label>
                <span><i class="material-icons">people_outline</i> {{ 'PARTY.PARTIES'| translate }}</span>
            </md-tab-label>
            <md-tab-body layout="column">
                <div ui-view="caseParties"></div>
            </md-tab-body>
        </md-tab>

        <md-tab ui-sref="case.history">
            <md-tab-label>
                <span><i class="material-icons">history</i> {{ 'COMMON.HISTORY' | translate }}</span>
            </md-tab-label>
            <md-tab-body layout="column">
                <div ui-view="caseHistory"></div>
            </md-tab-body>
        </md-tab>

        <md-tab ui-sref="case.tasks">
            <md-tab-label>
                <span><i class="material-icons">assignment</i> {{ 'TASK.TASKS'| translate }}</span>
            </md-tab-label>
            <md-tab-body layout="column">
                <div ui-view="caseTasks"></div>
            </md-tab-body>
        </md-tab>
    </md-tabs>

</md-content>

<app-footer></app-footer>
