<md-menu ng-controller="CreateCaseMenuController as ctrl">
    <md-button class="md-primary" ng-click="$mdOpenMenu($event)" aria-label="{{ 'CASE.CREATE_NEW_CASE' | translate }}">
        <i class="material-icons">add</i>
        {{ 'CASE.CREATE_NEW_CASE' | translate }}
    </md-button>
    <md-menu-content>
        <md-menu-item ng-repeat="caseType in ctrl.registeredCaseTypes">
            <md-button ng-click="ctrl.createCase($event, caseType)">{{ caseType | caseType }}</md-button>
        </md-menu-item>
        <md-menu-item><md-button ng-disabled="true">{{ 'CASE.CASETYPE_OTHER' | translate }}</md-button></md-menu-item>
    </md-menu-content>
</md-menu>