<div layout layout-wrap>
    <div layout-xs="noshrink" flex-md="100" flex-gt-md="25" class="case-info-card">
        <md-card flex="grow">
            <md-card-content>
                <h3>{{ vm.headerMessageKey | translate}}</h2>
                <dl layout="row" layout-wrap>
                      <dt flex="33">{{ 'CASE_TEMPLATES.TEMPLATE_NAME' | translate }}</dt><dd flex="66">{{ vm.props["cm:name"].value }}</dd>
                      <dt flex="33" ng-show="vm.isPropSet('cm:title')">{{ 'COMMON.TITLE' | translate }}</dt>
                      <dd flex="66" ng-show="vm.isPropSet('cm:title')">{{ vm.props["cm:title"].value }}</dd>
                      <dt flex="33" ng-show="vm.isPropSet('oe:owners')">{{ 'CASE.CASE_OWNER' | translate }}</dt>
                      <dd flex="66" ng-show="vm.isPropSet('oe:owners')">{{ vm.props["owners"][0].displayName }}</dd>
                      <dt flex="33" ng-show="vm.isPropSet('oe:journalKey')">{{ 'CASE.JOURNAL_KEY' | translate }}</dt>
                      <dd flex="66" ng-show="vm.isPropSet('oe:journalKey')">{{ vm.props["oe:journalKey"].displayValue }}</dd>
                      <dt flex="33" ng-show="vm.isPropSet('oe:journalFacet')">{{ 'CASE.JOURNAL_FACET' | translate}}</dt>
                      <dd flex="66" ng-show="vm.isPropSet('oe:journalFacet')">{{ vm.props["oe:journalFacet"].displayValue }}</dd>
                      <dt flex="33" ng-show="vm.isPropSet('cm:description')">{{ 'COMMON.DESCRIPTION' | translate }}</dt>
                      <dd flex="66" ng-show="vm.isPropSet('cm:description')">{{ vm.props["cm:description"].value }}</dd>
                      <ng-include ng-if="vm.includeExtra" src="vm.extraFieldsUrl" layout="row" layout-wrap flex="100"></ng-include>
                </dl>
                <h4>{{ 'CASE_TEMPLATES.AVAILABLE_WORKFLOWS' | translate }}</h4>
                <p ng-repeat="workflow in vm.props['ct:workflows'].value">
                    {{vm.getWorkflowDisplayName(workflow)}}
                </p>
            </md-card-content>
            <div class="md-actions" layout="column" layout-md="row" layout-xs="column" layout-padding layout-align="start start" >
                <md-button class="md-primary" ng-click="vm.editTemplate($event)">
                    <i class="material-icons">mode_edit</i> {{ 'CASE.EDIT_INFORMATION' | translate }}</md-button>
                <md-button class="md-primary" ng-click="vm.deleteTemplate($event)">
                    <i class="material-icons">delete</i> {{ 'COMMON.DELETE' | translate }}</md-button>
            </div>
        </md-card>
    </div>
    <div layout-xs="noshrink" flex flex-md="100" class="case-info-card">
        <md-card flex="grow">
            <md-card-content>
                <h3>{{ 'CASE_TEMPLATES.DOCUMENTS' | translate}}</h3>
                
                <div class="tlist">
                        <div class="tlist__header" layout="row">
                            <span class="tlist__cell tlist__cardview__hide icon" flex="none"></span>
                            <span class="tlist__cell" flex sort-table="cm:title">{{ 'COMMON.TITLE' | translate }}</span>
                            <span class="tlist__cell" flex="15" sort-table="doc:type">{{ 'COMMON.TYPE' | translate }}</span>
                            <span class="tlist__cell" flex="15" sort-table="doc:category">{{ 'COMMON.CATEGORY' | translate }}</span>
                            <span class="tlist__cell" flex="20" sort-table="doc:owner.0.fullname">{{ 'COMMON.CREATEDBY' | translate }}</span> <!-- might not be convenient to sort if multiple owner -->
                            <span class="tlist__cell" flex="20" sort-table="cm:modified">{{ 'COMMON.MODIFIED' | translate }}</span>
                            <span class="r" flex="10"></span>
                        </div>
                    <md-virtual-repeat-container class="tlist__body" md-auto-shrink>
                        <div md-virtual-repeat="doc in vm.documents" layout="row" flex class="tlist__item">
                            <span class="tlist__cell tlist__cell__fileicon tlist__cardview__hide icon" flex="none"><img class="md-avatar" ng-src="app/assets/images/filetypes/{{doc.thumbNailURL}}"/></span>
                            <span class="tlist__cell" flex>
                                <img class="md-avatar tlist__cardview__show" ng-src="app/assets/images/filetypes/{{doc.thumbNailURL}}"/>
                                {{ doc["cm:title"] }}</span>
                            <span class="tlist__cell muted" flex="15">
                                <i class="material-icons" ng-show="doc['office:fromOutlook']" title="{{ 'DOCUMENT.SENT_FROM_OUTLOOK' | translate}}" style="padding-right: 5px;">email</i>
                                {{ doc["doc:type"] }}
                            </span>
                            <span class="tlist__cell muted" flex="15">{{ doc["doc:category"] }}</span>
                            <span class="tlist__cell muted" flex="20">
                                <span ng-repeat="owner in doc['doc:owner']">{{owner.fullname}}</span>
                            </span>
                            <span class="tlist__cell muted" flex="20">{{ doc["cm:modified"] | openeDate }}</span>
                            <span class="muted" flex="10">
                                <md-menu>
                                    <md-button ng-click="$mdOpenMenu($event)">
                                        <i class="material-icons">more_vert</i>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item><md-button ng-click="vm.previewDocument(doc.mainDocNodeRef)">{{ 'DOCUMENT.OPEN_PREVIEW' | translate }}</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="vm.deleteDocument(doc)">{{ 'COMMON.DELETE' | translate }}</md-button></md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </span>
                        </div>
                        <div ng-show="vm.documents.length == 0">
                            <span class="tlist__cell" flex translate="DOCUMENT.NO_DOCUMENTS_ADDED_YET"></span>
                        </div>
                    </md-virtual-repeat-container>
                </div>
                
                
            </md-card-content>
            <div class="md-actions" layout="row" layout-xs="column" layout-padding layout-align="start start">
                <md-button class="md-primary" ng-click="vm.uploadDocument()">
                    <i class="material-icons">file_upload</i>{{ 'DOCUMENT.UPLOAD_NEW_DOCUMENTS' | translate }}
                </md-button>
            </div>
        </md-card>
    </div>
</div>