<md-dialog class="dialog-large" aria-label="{{ 'CASE_TEMPLATES.NEW_CASE_TEMPLATE' | translate }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 ng-show="vm.isNew">{{ 'CASE_TEMPLATES.NEW_CASE_TEMPLATE' | translate }}</h1>
            <h1 ng-hide="vm.isNew">{{ 'CASE.EDIT_INFORMATION' | translate }}</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <mt-wizard chevrons-always-visible="false" on-finish="vm.submit()" on-cancel="vm.cancel()" is-valid="vm.isValid(currentStep)">
    
        <mt-wz-step class="workflowWizardStep">
            <form name="templateForm">
                <div ng-init="vm.appendForm(templateForm)" layout="column">
                    <md-input-container flex>
                        <label>{{ 'CASE_TEMPLATES.TEMPLATE_NAME' | translate }} *</label>
                        <input type="text" name="templateName" ng-model="vm.template.prop_cm_name" md-autofocus required>
                    </md-input-container>
                    
                    <p>{{ 'CASE_TEMPLATES.PREFILLED_PARAMS' | translate }}</p>
                    
                    <div layout>
                        <md-input-container flex="65">
                            <label>{{ 'CASE.TITLE' | translate }}</label>
                            <input type="text" name="prop_cm_title" ng-model="vm.template.prop_cm_title">
                            <opene-error form="form" field="form.prop_cm_title"></opene-error>
                        </md-input-container>
                        <div class="opene-autocomplete-wrapper" flex>
                            <opene-autocomplete datasource="vm.template.assoc_base_owners_added" controller-name="AuthoritySelectorController"
                                name="assoc_base_owners_added" label="{{'CASE.OWNER' | translate}}" selected="vm.template.owner"></opene-autocomplete>
                            <opene-error form="form" field="form.assoc_base_owners_added"></opene-error>
                        </div>
                    </div>
                    
                    <div ng-controller="ClassificationController as classCtrl" layout="column">
                        <md-chips ng-model="vm.template.prop_oe_journalKey" md-autocomplete-snap md-require-match="true">
                            <md-autocomplete md-input-name="journalKey" md-min-length="2" md-input-minlength="2" md-selected-item="selectedItemKey" 
                                md-search-text="searchTextKey" md-items="item in classCtrl.search(searchTextKey, 'oe:journalKey')" 
                                md-item-text="item.name + ' ' + item.title" placeholder="{{'CASE.JOURNAL_KEY'| translate}}">
                                <md-item-template>
                                    <span md-highlight-text="searchTextKey">{{item.name}}</span>
                                    <span md-highlight-text="searchTextKey" class="muted">{{item.title}}</span>
                                </md-item-template>
                                <md-not-found>
                                    {{ 'COMMON.NO_MATCHES' | translate }}
                                </md-not-found>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{ $chip.name}}</strong>
                                    <em>{{ $chip.title}}</em>
                                </span>
                            </md-chip-template>
                        </md-chips>
                        <md-chips ng-model="vm.template.prop_oe_journalFacet" md-autocomplete-snap md-require-match="true">
                            <md-autocomplete md-input-name="journalFacet" md-min-length="2" md-input-minlength="2" md-selected-item="selectedItemFacet" 
                                md-search-text="searchTextFacet" md-items="item in classCtrl.search(searchTextFacet, 'oe:journalFacet')" 
                                md-item-text="item.name + ' ' + item.title" placeholder="{{'CASE.JOURNAL_FACET'| translate}}">
                                <md-item-template>
                                    <span md-highlight-text="searchTextFacet">{{item.name}}</span>
                                    <span md-highlight-text="searchTextFacet" class="muted">{{item.title}}</span>
                                </md-item-template>
                                <md-not-found>
                                    {{ 'COMMON.NO_MATCHES' | translate }}
                                </md-not-found>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.name}}</strong>
                                    <em>{{$chip.title}}</em>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                    <div layout>
                        <md-datepicker flex ng-model="vm.template.prop_base_startDate" 
                            md-placeholder="{{ 'CASE.START_DATE' | translate }}"></md-datepicker>
                        <md-datepicker flex ng-model="vm.template.prop_base_endDate" 
                            md-placeholder="{{ 'CASE.EXPECTED_END_DATE' | translate }}"></md-datepicker>
                    </div>
                    <div layout="column">
                        <md-input-container flex>
                            <label>{{ 'CASE.DESCRIPTION' | translate }}</label>
                            <textarea rows="3" ng-model="vm.template.prop_cm_description"></textarea>
                        </md-input-container>
                    </div>
                    <ng-include ng-if="vm.includeExtra" src="vm.extraFieldsUrl"></ng-include>
                </div>
            </form>
        </mt-wz-step>
        
        <mt-wz-step class="workflowWizardStep">
            <div layout="column">
                <p>{{ 'CASE_TEMPLATES.AVAILABLE_WORKFLOWS' | translate }}</p>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="workflowDef in vm.workflowDefs">
                        <md-checkbox ng-model="workflowDef.selected"></md-checkbox>
                        <div class="md-list-item-text">
                            <h3> {{ workflowDef.title }} </h3>
                            <p> {{ workflowDef.description }} </p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </mt-wz-step>
    </mt-wizard>
</md-dialog>
