// Default md-default-theme colors
$opene-primary-color  : #1E88E5;
$opene-secondary-color: #FFD740;

/*
 * Body styles
 */

.body {
    background-color: #ddd;
}

.body__content {
    height: 100%;
}

/*
 * Native HTML element styles
 */

a,
a:link {
    text-decoration: none;
    color: #000;
}
a:hover,
a:active,
a:focus {
    color: #666; 
}

footer {
    padding: 1em;
}

dt,
dd {
    margin: 0 0 1em 0;
}

dt,
.muted,
table th,
.label {
    color: rgba(0,0,0,0.53);
}

.repeat-table .muted .r-rowlink:not(:hover) {
    opacity: 0.7;
    background-color: #eee;
}

table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        border-bottom: solid 1px #ddd;
        text-align: left;
        padding: 0.5em;
    }

    th {
        padding-bottom: 0.5em;
    }

    td {
        .md-button {
            margin: 0;
        }
    }

    tr.muted {
        background-color: #eee;
    }

    .clickable-row {
        cursor: pointer;

        &:hover, &:focus {
            background-color: #eee;
        }

        &:active {
            background-color: #ddd;
        }
    }
}

input[type="file"] {
    margin: 0 0 1em;
}

fieldset {
    border: none;
    border-top: solid 1px rgba(0,0,0,0.2);
    padding: 0;
    margin: 0 0 1em;
}

legend {
    margin: 0;
    padding: 0;
}

textarea {
    border: solid 1px rgba(0,0,0,0.2);
}


/*
 * Common helper classes and IDs
 */

.sub-toolbar {
    background: #fff;
    md-select {
        margin: 0; 
    }
}

.label {
    display: block;
    margin: 1em 0 0.75em;
    font-size: 0.8em;
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-hits {
    color: rgba(0,0,0,0.54);
    padding: 0 0.25em;
}

.highlight {
    border-bottom: dotted 1px #000;
}

.preview-window-container {
    overflow: auto;

    .preview-window {
        max-height: 400px;


        .wrapper {margin: 0 auto; width: 960px; }
        .pdf-controls { width: 100%; display: block; background: #eee; padding: 1em;}
        .rotate0 {-webkit-transform: rotate(0deg); transform: rotate(0deg); }
        .rotate90 {-webkit-transform: rotate(90deg); transform: rotate(90deg); }
        .rotate180 {-webkit-transform: rotate(180deg); transform: rotate(180deg); }
        .rotate270 {-webkit-transform: rotate(270deg); transform: rotate(270deg); }
        .fixed { position: fixed; top: 0; left: calc(50% - 480px); z-index: 100; width: 100%; padding: 1em; background: rgba(238, 238, 238,.9); width: 960px; }


    }

    img {
        width: 100%;
    }
}
.toggle-btn {
    cursor: pointer;
    padding: 0.25em 0.5em 0.25em 0.25em;

    &:hover,
        &:focus,
        &:active {
        background-color: rgba(0,0,0,0.1);
        cursor: pointer;
    }
}

.closed + .toggle-obj {
    display: none;
}

/* Md-dialog sizes */
md-dialog {
    &[class*="dialog-"] {
        max-width:800px;
        md-dialog-content {
            max-height:810px;
        }
    }
    &.dialog-large {
        min-width: 550px;
    }
    &.dialog-large-fixed {
        width: 550px;
    }
    &.dialog-small {
        width: 400px;
    }
    md-dialog-content {
        padding: 16px; // Corresponds to ng-material heading padding
    }
}

@media screen and (max-width: 45em) {
    md-dialog.dialog-large, md-dialog.dialog-small {
        width: 80%;
    }
}

/* Navigation list - override active state */
md-list md-list-item.active a {
    background-color: $opene-primary-color;
    color: white;
    md-icon {
        color: white;
    }
}

/* Virtual repeat lists */

.repeat-table { /* Deprecated. Use .tlist instead */

    .repeat-header,
    .repeat-item {
        border-bottom: 1px solid #ddd;
    }

    .r {
        padding: 0.5em 1em;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a.md-button {
            display: inline-flex;
        }

        i.material-icons, img.md-avatar {
            vertical-align: middle;
        }

        &.icon {
            padding: 0.5em 0;
            width: 24px;

            & + * {
                padding-left: 0.5em;
            }
        }
    }

    .repeat-header {
        /* Offsets header to align with container content - because of scrollbar in container */
        /* Vu 2015-10-16: This causes table header and table content not vertically aligned with each other (Document attachment view) */
        // margin-right: 1em;

        .r {
            color: rgba(0,0,0,0.54);
            font-weight: 700;
        }
    }

    .r-rowlink {
        text-decoration: none;
        color: #000;

        &:hover,
            &:focus,
            &:active {
            background-color: #eee;
        }
    }
}

.tlist { /* List of item using virtual repeat */
    background-color: #fff;
    position: relative;
    .tlist__header,
    .tlist__item {
        border-bottom: 1px solid #ddd;
    }
    .tlist__cell {
        padding: 0.5em 1em;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .cell__label {
            display: none;
        }

        &.tlist__cell_icon {
            padding: 0.5em 0 0.5em 1em;
            width: 40px;

            & + * {
                padding-left: 0.5em;
            }
        }

    }
    .tlist__cell__menu{
        padding: 0;
        md-menu {
            padding: 0;
            button{
                padding: 0;
                margin: 0;
            }
        }
    }
    .tlist__header {

        .tlist__cell {
            color: rgba(0,0,0,0.54);
            font-weight: 700;
        }
    }
    .tlist__item__link {
        text-decoration: none;
        color: #000;

        &:hover,
            &:focus,
            &:active {
            background-color: #eee;
        }
    }
    .tlist__item__createinfo {
        display: none;
    }
    .tlist__cell__fileicon {
        padding: 0.4em 0 0!important;
        text-align: center;
    }
}
.tlist__cardview__show{
    display: none;
}
@mixin tlist-cardview {
    .tlist__cardview__hide{
        display: none!important;
    }
    .tlist__cardview__show{
        display: initial!important;
    }

    background-color: transparent;
    .tlist__header {
        display: none;
    }
    .tlist__item {
        background-color: #fff;
        margin: 0.5em;
        /*height: 17.5em;*/
        overflow: hidden;
    }
    .tlist__item__link {
        display: block;
        padding: 0.5em 0;
    }
    .tlist__cell {
        display: block;
        flex: none;
        max-width: 100%;
        .cell__label {
            display: block;
            color: #999;
            font-size: 0.8em;
        }
    }
    .tlist__cell_icon {
        float: left;
        width: 2.5em;
        height: 2em;
    }
    .tlist__item__createinfo {
        display: block;
        font-size: 0.8em;
        color: #999;
        padding: 0.5em 1em;
        text-align: right;
    }
    .tlist__cell__menu {
        position: absolute;
        top: 1.2em;
        right: 1em;
        .md-button {
            min-width: 2em;
        }
    }
}
.tlist__cell:hover,
.r:hover {
    .filter-menu i.material-icons {
        opacity: 1;
    }
}
.filter-menu {
    padding: 0;

    i.material-icons {
        cursor: pointer;
        opacity: 0.3;

        &.active {
            opacity: 1;
        }
    }

    &.md-open i.material-icons {
        opacity: 1;
    }
}
.tlist_cards {
    @include tlist-cardview;
}
@media screen and (max-width: 45em) {
    .tlist {
        @include tlist-cardview;
        .tlist__item__link {
            position: relative;
        }
    }
}


/*
 * Angular Material element overrides
 */

md-content {
    background-color: #ddd;
}

md-tabs {

    md-tabs-wrapper {
        background-color: #fff;
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
    }

    md-ink-bar {
        background-color: rgb(30,136,229);
        color: rgb(255,255,255);
    }
}

md-virtual-repeat-container {
    height: 300px;
}


/*
 * Angular Material class overrides
 */

.md-datepicker-calendar-pane {
    max-width: 339px;
    background-color: #fff;
}

.md-datepicker-input-container {
    min-width: 150px;
}

.material-icons {
    vertical-align: middle;
    margin-top: -2px;
}

.md-chips {
    padding-bottom: 0;
    margin-bottom: 1em;
}

.md-chips .md-chip-input-container {
    padding-left: 0;
}

.md-contact-avatar,
.md-contact-suggestion img {
    display: none;
}

.workflowWizardStep {
    max-width:1000px;
    max-height:531px;
    min-width:400px;
    min-height:331px;
}

.md-checked .md-label {
    font-weight: 700;
}

md-input-container .md-input:-webkit-autofill ~ label {
    -webkit-transform: translate3d(0, 6px, 0) scale(0.75);
    transform: translate3d(0, 6px, 0) scale(0.75);
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    // min-width: 20em !important;
}

.admin_sub_menu .md-list-item-inner p {
    line-height: normal;
}

*[sort-table] {
    cursor: pointer;
}

.h3_sized_select {
    margin: 0;
}

.opene-autocomplete-wrapper {
    md-autocomplete[md-floating-label] md-input-container {
        padding-bottom: 0;
    }

    div[ng-messages] {
        font-size: 12px;
        line-height: 14px;
        overflow: hidden;
        padding-top: 5px;
        color: red;
        margin-top: -18px;
    }
}

@media screen and (max-width: 45em) {
    app-footer{
        display: none;
    }
}

.oe-menu-button {
    padding-right: 0;
    .md-menu > .md-button {  
        padding: 0;
        margin: 0;
        width: 25px;
        height: 25px;
        border-radius: 0;
        &:hover:not(:disabled) {
            background-color: rgba(158,158,158,0.4);
        }
    } 
}