/*
 * Body styles
 */

.body {
	background-color: #ddd;
}

.body__content {
	height: 100%;
}


/*
 * Native HTML element styles
 */

a,
a:link {
  text-decoration: none;
  color: #000;
}
a:hover,
a:active,
a:focus {
  color: #666; 
}

footer {
	padding: 1em;
}

dt,
dd {
	margin: 0 0 1em 0;
}

dt,
.muted,
table th,
.label {
	color: rgba(0,0,0,0.53);
}

table {
	width: 100%;
	border-collapse: collapse;

	th, td {
		border-bottom: solid 1px #ddd;
		text-align: left;
		padding: 0.5em;
	}

	th {
		padding-bottom: 0.5em;
	}

	td {
		.md-button {
			margin: 0;
		}
	}

	tr.muted {
		background-color: #eee;
	}

	.clickable-row {
		cursor: pointer;

		&:hover, &:focus {
			background-color: #eee;
		}

		&:active {
			background-color: #ddd;
		}
	}
}

input[type="file"] {
	margin: 0 0 1em;
}

fieldset {
	border: none;
	border-top: solid 1px rgba(0,0,0,0.2);
	padding: 0;
	margin: 0 0 1em;
}

legend {
	margin: 0;
	padding: 0;
}

textarea {
	border: solid 1px rgba(0,0,0,0.2);
}


/*
 * Common helper classes and IDs
 */

.login-form {
    text-align: center;

    md-input-container {
        text-align: left;

        label {
            width: 300px;
        }
    }
}

.sub-toolbar {
  background: #fff;
}

.label {
  display: block;
  margin: 1em 0 0.75em;
  font-size: 0.8em;
}

.search-hits {
  color: rgba(0,0,0,0.54);
  padding: 0 0.25em;
}

.highlight {
  border-bottom: dotted 1px #000;
}

.preview-window-container {
	overflow: auto;
        
        .preview-window {
                max-height: 400px;
        }
        
	img {
		width: 100%;
	}
}
.toggle-btn {
	cursor: pointer;
	padding: 0.25em 0.5em 0.25em 0.25em;
  
	&:hover,
	&:focus,
	&:active {
		background-color: rgba(0,0,0,0.1);
		cursor: pointer;
	}
}

.closed + .toggle-obj {
  display: none;
}


/* Virtual repeat lists */

.repeat-table {

	md-virtual-repeat-container,
	.repeat-header,
	.repeat-item {
		border-bottom: 1px solid #ddd;
	}

	.r {
		padding: 0.5em 1em;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.repeat-header {
		/* Offsets header to align with container content - because of scrollbar in container */
		/* Vu 2015-10-16: This causes table header and table content not vertically aligned with each other (Document attachment view) */
		// margin-right: 1em;

		.r {
			color: rgba(0,0,0,0.54);
			font-weight: 700;
		}
	}

	.r-rowlink {
		text-decoration: none;
		color: #000;

		&:hover,
		&:focus,
		&:active {
			background-color: #eee;
		}
	}
}


/*
 * Angular Material element overrides
 */

md-content {
	background-color: #ddd;
}

md-tabs md-tabs-wrapper {
	background-color: #fff;
}

md-virtual-repeat-container {
  height: 300px;
}


/*
 * Angular Material class overrides
 */

.md-datepicker-calendar-pane {
	max-width: 339px;
}

.md-datepicker-input-container {
    min-width: 150px;
}

.material-icons {
	vertical-align: middle;
	margin-top: -2px;
}

.md-chips {
	padding-bottom: 0;
	margin-bottom: 1em;
}

.md-chips .md-chip-input-container {
	padding-left: 0;
}

.md-contact-avatar,
.md-contact-suggestion img {
	display: none;
}

.workflowWizardStep {
	max-width:1000px;
	max-height:531px;
	min-width:400px;
	min-height:331px;
}

.md-checked .md-label {
	font-weight: 700;
}
