<md-card ng-controller="CaseMembersController as cmc">
    <md-card-content>
        <h3>{{'MEMBER.MEMBERS'| translate}}</h3>
        <table>
            <thead>
                <tr>
                    <th sort-table="displayName">{{'MEMBER.NAME'| translate}}</th>
                    <th sort-table="authorityType">{{'MEMBER.TYPE'| translate}}</th>
                    <th sort-table="role">{{'MEMBER.ROLE'| translate}}</th>
                    <th>{{'COMMON.ACTIONS'| translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in cmc.members | orderObjectBy:orderByAttribute:reverseOrder">
                    <td>{{member.displayName}}</td> 
                    <td>{{member.authorityType}}</td>
                    <td>{{member.role}}</td>
                    <td>
                        <md-button class="md-primary" ng-click="cmc.showChangeDialog($event, member)" ng-disabled="caseIsLocked">{{'MEMBER.CHANGE'| translate }}</md-button>
                        <md-button class="md-primary" ng-click="cmc.removeMember($event, member)" ng-disabled="caseIsLocked">{{'COMMON.REMOVE'| translate }}</md-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <md-button class="md-primary" ng-click="cmc.showNewDialog($event)" ng-disabled="caseIsLocked">{{ 'COMMON.ADD_NEW' | translate }}</md-button>
    </md-card-content>
</md-card>