<md-dialog class="dialog-large" aria-label="Case members change dialog">
    <form name="form" novalidate>

        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2>{{ 'MEMBER.CHANGE_MEMBER_ROLE' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <md-input-container layout>
                <label>{{ 'COMMON.NAME' | translate }}</label>
                <input type="text" ng-model="cmcChange.member.displayName" ng-readonly="true">
            </md-input-container>

            <div layout>
                <md-input-container flex>
                    <label>{{ 'MEMBER.OLD_ROLE' | translate }}</label>
                    <input type="text" ng-model="cmcChange.member.role" ng-readonly="true">
                </md-input-container>

                <md-input-container flex>
                    <label>{{ 'MEMBER.TO_ROLE' | translate }}</label>
                    <md-select ng-model="cmcChange.newRole" md-on-open="cmcChange.loadRoles()" required>
                        <md-option ng-value="role" ng-repeat="role in cmcChange.roles">{{role}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" ng-click="cmcChange.save()" ng-disabled="form.$invalid">
                {{ 'MEMBER.CHANGE' | translate }}
            </md-button>
            <md-button ng-click="cmcChange.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
