<md-card flex="grow">
    <md-card-content>
        <h2>{{ 'ADMIN.SYS_SETTINGS.TENANTS_MODULES.TITLE' | translate}}</h2>
        <table>
            <thead>
                <tr>
                    <th>{{ 'ADMIN.SYS_SETTINGS.TENANTS_MODULES.TENANT' | translate }}</th>
                    <th>{{ 'ADMIN.SYS_SETTINGS.TENANTS_MODULES.TENANT_UI_CONTEXT' | translate }}</th>
                    <th>{{ 'ADMIN.SYS_SETTINGS.TENANTS_MODULES.MODULES' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tenantInfo in vm.tenantsInfo" class="clickable-row" ng-click="vm.editTenantModules($event, tenantInfo)">
                    <td>{{tenantInfo.tenantDomain}}</td>
                    <td>{{tenantInfo.tenantUIContext}}</td>
                    <td><span ng-repeat="module in tenantInfo.modules" style="margin-right: 5px">{{module}}<span ng-show="!$last">,</span></span></td>
                    <td>
                        <md-button class="md-primary" ng-click="vm.deleteModules($event, tenantInfo.tenantDomain)">
                            {{ 'ADMIN.SYS_SETTINGS.TENANTS_MODULES.DISABLE_ALL_MODULES' | translate }}
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <md-button class="md-primary" ng-click="vm.createTenant($event)">{{ 'ADMIN.SYS_SETTINGS.TENANTS_MODULES.CREATE_TENANT' | translate }}</md-button>
    </md-card-content>
</md-card>
