<md-card flex="grow">
    <md-card-content>
        <h2>{{ 'ADMIN.SYS_SETTINGS.TENANTS_MODULES.TITLE' | translate}}</h2>
        <table>
            <thead>
                <tr>
                    <th>{{ 'ADMIN.SYS_SETTINGS.TENANTS_MODULES.TENANT' | translate }}</th>
                    <th>{{ 'ADMIN.SYS_SETTINGS.TENANTS_MODULES.MODULES' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(tenant,modules) in vm.tenantsModules" class="clickable-row" ng-click="vm.editTenant($event, tenant, modules)">
                    <td>{{tenant}}</td>
                    <td><span ng-repeat="module in modules" style="margin-right: 5px">{{module}}<span ng-show="!$last">,</span></span></td>
                    <td>
                        <md-button class="md-primary" ng-click="vm.deleteModules($event, tenant)">
                            {{ 'COMMON.DELETE' | translate }}
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <md-button class="md-primary" ng-click="vm.newTenant($event)">{{ 'COMMON.CREATE' | translate }}</md-button>
    </md-card-content>
</md-card>
