<md-dialog class="dialog-small" aria-label="{{ 'DOCUMENT_TYPES.CREATE_EDIT_DOC_TYPE' | translate }}">
    <form name="docTypeForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'DOCUMENT_TYPES.CREATE_EDIT_DOC_TYPE' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="column">
                <md-input-container flex>
                    <label>{{ 'DOCUMENT_TYPES.NAME' | translate }} *</label>
                    <input type="text" name="name" ng-model="dt.documentType.name" md-autofocus required ng-pattern="dt.PATTERNS.fileName" 
                            ng-disabled="dt.documentType.systemType">
                    <opene-error form="docTypeForm" field="docTypeForm.name"></opene-error>
                </md-input-container>
                <md-input-container flex ng-repeat="avLang in dt.availableLanguages">
                    <label>{{ 'DOCUMENT_TYPES.DISPLAY_NAME' | translate }} ({{avLang}}) *</label>
                    <input type="text" name="{{avLang}}" ng-model="dt.documentType.mlDisplayNames[avLang]" required ng-maxlength="150">
                    <opene-error form="docTypeForm" field="docTypeForm[avLang]"></opene-error>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" type="submit" ng-disabled="docTypeForm.$invalid" ng-click="dt.save(docTypeForm)">
                {{ 'COMMON.SAVE' | translate }}
            </md-button>
            <md-button ng-click="dt.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
