<md-card>
  <md-card-content>
    
    <a class="md-button md-primary" href="#/organisations">< Back to organisations</a>
    
    <h1>Organisation</h1>
    
    <md-button class="md-primary" ng-click="showAdvanced($event)">
      Edit organisation
    </md-button>
    
    <md-button ng-disabled="true">Delete organisation</md-button>
    
    <h2>Employees</h2>
    <table>
      <thead>
        <th>First name</th>
        <th>Last name</th>
        <th>Department</th>
        <th>Street</th>
        <th>Postal code</th>
        <th>City</th>
        <th>Country</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <td>Someone</td>
        <td>Someonesson</td>
        <td>AKDOL P3</td>
        <td>Lirumlarumvej 12</td>
        <td>2300</td>
        <td>København S</td>
        <td>Denmark</td>
        <td><a class="md-button md-primary">View details</a></td>
      </tbody>
    </table>
    
    <md-button class="md-primary" ng-disabled="true">Create contact</md-button>
    
  </md-card-content>
</md-card>