<md-card>
  <md-card-content>
    
    <h1>Organisations</h1>
    
    <md-input-container>
      <label>Search for organisations</label>
      <input type="text">
    </md-input-container>
    
    <table>
      <thead>
        <th>Name</th>
        <th>CVR number</th>
        <th>Department</th>
        <th>Street</th>
        <th>Postal code</th>
        <th>City</th>
        <th>Country</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <td>Some name</td>
        <td>43535355</td>
        <td>AKDOL P1</td>
        <td>Lirumlarumvej 12</td>
        <td>2300</td>
        <td>København S</td>
        <td>Denmark</td>
        <td><a class="md-button md-primary" href="#/organisations/organisation">View details</a></td>
      </tbody>
    </table>
    
    <md-button class="md-primary" ng-click="showAdvanced($event)">Create new organisation</md-button>
    
  </md-card-content>
</md-card>