<md-card ng-controller="CasePartiesController as cmCPC">
    <md-card-content>
        <h3>{{'party.TITLE'| translate}}</h3>
        <table>
            <thead>
                <tr>
                    <th>{{'party.NAME'| translate}}</th>
                    <th>{{'party.EMAIL'| translate}}</th>
                    <th>{{'party.TYPE'| translate}}</th>
                    <th>{{'party.ROLE'| translate}}</th>
                    <th>{{'common.ACTIONS'| translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="party in cmCPC.parties">
                    <td>{{party.displayName}}</td>
                    <td>{{party.contactId}}</td>
                    <td>{{party.contactType}}</td>
                    <td>{{party.role}}</td>
                    <td>
                        <md-button class="md-primary" ng-click="cmCPC.showChangePartyDialog($event, party)">{{'party.CHANGE'| translate}}</md-button>
                        <md-button class="md-primary" ng-click="cmCPC.removeParty(party)">{{'common.REMOVE'| translate}}</md-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <md-button class="md-primary" ng-click="cmCPC.showAddPartiesDialog($event)">{{'party.ADD_NEW'| translate}}</md-button>
    </md-card-content>
</md-card>