<md-dialog class="dialog-small" aria-label="Case parties change dialog">
    <form name="form" novalidate>

        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h2>{{ 'PARTY.CHANGE_PARTY_ROLE' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column">

            <md-input-container flex>
                <label>{{ 'COMMON.NAME' | translate }}</label>
                <input type="text" ng-model="dlChange.party.displayName" ng-readonly="true">
            </md-input-container>

            <md-input-container flex>
                <label>{{ 'COMMON.EMAIL' | translate }}</label>
                <input type="text" ng-model="dlChange.party.contactId" ng-readonly="true">
            </md-input-container>

            <md-input-container flex>
                <label>{{ 'PARTY.OLD_ROLE' | translate }}</label>
                <input type="text" ng-model="dlChange.party.role" ng-readonly="true">
            </md-input-container>

            <md-input-container flex>
                <label>{{ 'PARTY.TO_ROLE' | translate }} *</label>
                <md-select ng-model="dlChange.newRole" md-on-open="dlChange.loadRoles()" required>
                    <md-option ng-value="role" ng-repeat="role in dlChange.roles">{{role}}</md-option>
                </md-select>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" ng-click="dlChange.save()" ng-disabled="form.$invalid">
                {{ 'PARTY.CHANGE' | translate }}
            </md-button>
            <md-button ng-click="dlChange.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
