<md-dialog class="dialog-small" aria-label="Case parties add dialog">
    <form name="form" novalidate>

        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2>{{ 'PARTY.ADD_PARTIES' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column">

            <md-input-container>
                <label>{{ 'PARTY.ROLE' | translate }} *</label>
                <md-select ng-model="ctrl.role" md-on-open="ctrl.loadRoles()" required>
                    <md-option ng-value="role" ng-repeat="role in ctrl.roles">{{role}}</md-option>
                </md-select>
            </md-input-container>

            <md-chips ng-model="ctrl.selectedOrganizations" md-autocomplete-snap md-require-match="true">
                <md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.name" md-no-cache="true" md-icon="" placeholder="{{ 'PARTY.CHOOSE_ORG_CONTACTS'| translate }}">
                    <span md-highlight-text="ctrl.searchText">{{item.organizationName}} ({{item.email}})</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                        <strong>{{$chip.organizationName}}</strong>
                        <em>({{$chip.email}})</em>
                    </span>
                </md-chip-template>
            </md-chips>

            <md-chips ng-model="ctrl.selectedContacts" md-autocomplete-snap md-require-match="true">
                <md-autocomplete md-selected-item="ctrl.selectedItemP" md-search-text="ctrl.searchTextP" md-items="item in ctrl.querySearchP(ctrl.searchTextP)" md-item-text="item.name" md-no-cache="true" placeholder="{{ 'PARTY.CHOOSE_PERSON_CONTACTS'| translate }}">
                    <span md-highlight-text="ctrl.searchTextP">{{item.firstName}} {{item.lastName}} ({{item.email}})</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                        <strong>{{$chip.firstName}} {{$chip.lastName}}</strong>
                        <em>({{$chip.email}})</em>
                    </span>
                </md-chip-template>
            </md-chips>

        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" ng-click="ctrl.save(ctrl.role, ctrl.selectedOrganizations, ctrl.selectedContacts)" 
                        ng-disabled="form.$invalid">
                {{ 'COMMON.ADD' | translate }}
            </md-button>
            <md-button ng-click="ctrl.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
