<app-header></app-header>
<md-content layout="column">
    <md-tabs md-dynamic-height>
        <md-tab md-on-select="">
            <md-tab-label>
                <span>{{ 'CONTACT.PEOPLE' | translate }}</span>
            </md-tab-label>
            <md-tab-body>
				<div ng-include="'app/src/contacts/view/persons.html'" ></div>
        	</md-tab-body>
        </md-tab>
        <md-tab md-on-select="">
            <md-tab-label>
                <span>{{ 'ORG.ORGANIZATIONS' | translate }}</span>
            </md-tab-label>
            <md-tab-body>
				<div ng-include="'app/src/contacts/view/organizations.html'" ></div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
<app-footer></app-footer>
