<app-header></app-header>
<md-content layout="column">
    <md-tabs md-dynamic-height md-selected="currentTab">
        <md-tab ui-sref="contacts.persons">
            <md-tab-label>
                <span>{{ 'CONTACT.PEOPLE' | translate }}</span>
            </md-tab-label>
            <md-tab-body>
                <div ui-view="persons"></div>
            </md-tab-body>
        </md-tab>
        <md-tab ui-sref="contacts.organizations">
            <md-tab-label>
                <span>{{ 'ORG.ORGANIZATIONS' | translate }}</span>
            </md-tab-label>
            <md-tab-body>
                <div ui-view="organizations"></div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
<app-footer></app-footer>
