<md-card ng-controller="OrganizationController as vm">
    <md-card-content>
        <h3>Organizations</h3>
        <md-input-container>
            <label>Search for organizations</label>
            <input type="text" ng-model="vm.searchQuery" ng-change="vm.doFilter()">
        </md-input-container>

        <table>
            <thead>
            <th>Name</th>
            <th>CVR number</th>
            <th>Department</th>
            <th>Street</th>
            <th>Postal code</th>
            <th>City</th>
            <th>Country</th>
            <th>Actions</th>
            </thead>
            <tbody>
                <tr ng-repeat="organization in vm.organizations.items">
                    <td>{{organization.organizationName}}</td>
                    <td>{{organization.cvrNumber}}</td>
                    <td></td>
                    <td>{{organization.address}}</td>
                    <td>{{organization.postCode}}</td>
                    <td>{{organization.cityName}}</td>
                    <td>{{organization.countryCode}}</td>
                    <td><a class="md-button md-primary" 
                           href="#/admin/organizations/{{organization.storeType}}/{{organization.storeId}}/{{organization.id}}">View details</a></td>
                </tr>
            </tbody>
        </table>
        <md-button class="md-primary" ng-click="vm.showOrganizationEdit($event)">Create new organization</md-button>
        <div style="margin: 0 8px; padding: 0 6px;">
            Showing {{vm.pagingParams.pageSize < vm.pagingParams.totalRecords ? vm.pagingParams.pageSize : vm.pagingParams.totalRecords}} of {{vm.pagingParams.totalRecords}}. Pages: 
            <button ng-repeat="page in vm.pages" ng-click="vm.doFilter(page);" style="margin: 0 2px;">{{page}}</button>
        </div>
    </md-card-content>
</md-card>