<md-card>
    <md-card-content>

        <div layout layout-align="space-between">
            <h3 class="md-title" flex ng-hide="hideHeader">{{ 'ORG.ORGANIZATIONS' | translate }}</h3>

            <md-input-container flex="15">
                <label>{{ 'ORG.SEARCH_FOR_ORG' | translate }}</label>
                <input type="text" ng-model="vm.searchQuery" ng-model-options="{debounce: 300}" ng-change="vm.loadOrganizations()">
            </md-input-container>
        </div>
        
        <div class="tlist">
            <div class="tlist__header" layout="row" style="border-bottom:0">
                <div class="tlist__cell" flex="10">
                    <div layout="row" layout-align="space-between center">
                        <span>{{ 'COMMON.NAME' | translate }}</span>
                        <opene-column-filter type="text" filter="vm.filterArray" value="organizationName" />
                    </div>
                </div>
                <div class="tlist__cell" flex="10">
                    <div layout="row" layout-align="space-between center">
                        <span>{{ 'ORG.CVR_NO' | translate }}</span>
                        <opene-column-filter type="text" filter="vm.filterArray" value="cvrNumber" />
                    </div>
                </div>
                <div class="tlist__cell" flex="20">
                    <div layout="row" layout-align="space-between center">
                        <span>{{ 'ORG.DEPARTMENT' | translate }}</span>
                        <opene-column-filter type="text" filter="vm.filterArray" value="department" />
                    </div>
                </div>
                <div class="tlist__cell" flex="20">
                    <div layout="row" layout-align="space-between center">
                        <span>{{ 'ORG.STREET' | translate }}</span>
                        <opene-column-filter type="text" filter="vm.filterArray" value="address" />
                    </div>
                </div>
                <div class="tlist__cell" flex="10">
                    <div layout="row" layout-align="space-between center">
                        <span>{{ 'ORG.POSTAL_CODE' | translate }}</span>
                        <opene-column-filter type="text" filter="vm.filterArray" value="postCode" />
                    </div>
                </div>
                <div class="tlist__cell" flex="10">
                    <div layout="row" layout-align="space-between center">
                        <span>{{ 'ORG.CITY' | translate }}</span>
                        <opene-column-filter type="text" filter="vm.filterArray" value="cityName" />
                    </div>
                </div>
                <div class="tlist__cell" flex="10">
                    <div layout="row" layout-align="space-between center">
                        <span>{{ 'ORG.COUNTRY' | translate }}</span>
                        <opene-column-filter type="text" filter="vm.filterArray" value="countryName" />
                    </div>
                </div>
            </div>
            <md-virtual-repeat-container class="tlist__body" flex-height>
                <div md-virtual-repeat="organization in vm.organizations | filter:vm.columnFilter" class="tlist__item" layout="column" flex>
                    <a class="r-rowlink" href ui-sref="{{vm.parentState}}.organization({'storeProtocol': organization.storeType, 'storeIdentifier': organization.storeId, 'uuid': organization.id})" layout="row">
                        <span class="tlist__cell" flex="10">{{organization.organizationName}}</span>
                        <span class="tlist__cell" flex="10">{{organization.cvrNumber}}</span>
                        <span class="tlist__cell" flex="20">{{organization.department}}</span>
                        <span class="tlist__cell" flex="20">{{organization.address}}</span>
                        <span class="tlist__cell" flex="10">{{organization.postCode}}</span>
                        <span class="tlist__cell" flex="10">{{organization.cityName}}</span>
                        <span class="tlist__cell" flex="10">{{organization.countryCode ? (organization.countryCode | countryCodeToName) : null}}</span>
                    </a>
                </div>
            </md-virtual-repeat-container>
        </div>

        <div class="md-actions" ng-show="('can_create_contacts'|oeParam)">
            <md-button class="md-primary" ng-click="vm.showOrganizationEdit($event)"><i class="material-icons ng-scope">add</i> {{ 'ORG.CREATE_NEW_ORG' | translate }}</md-button>
        </div>
    </md-card-content>
</md-card>
