<md-dialog class="dialog-large" aria-label="{{(organization.nodeRefId ? 'ORG.EDIT_ORG' : 'ORG.CREATE_NEW_ORG') | translate }}">
    <form name="orgForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{(organization.nodeRefId ? 'ORG.EDIT_ORG' : 'ORG.CREATE_NEW_ORG') | translate }}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout>
                <md-input-container flex>
                    <label>{{ 'ORG.COMPANY_NAME' | translate }} *</label>
                    <input type="text" name="firstName" ng-model="organization.organizationName" required ng-maxlength="50" md-autofocus>
                    <opene-error form="orgForm" field="orgForm.firstName"></opene-error>
                </md-input-container>
                <md-input-container flex ng-show="fullForm">
                    <label>{{ 'ORG.DEPARTMENT' | translate }}</label>
                    <input type="text" name="department" ng-model="organization.department" ng-maxlength="50">
                    <opene-error form="orgForm" field="orgForm.department"></opene-error>
                </md-input-container>
            </div>
            <div layout>
                <md-input-container flex>
                    <label>{{ 'ORG.VAT_NO' | translate }} *</label>
                    <input type="text" name="cvrNumber" ng-model="organization.cvrNumber" required ng-minlength="8" ng-maxlength="8">
                    <opene-error form="orgForm" field="orgForm.cvrNumber"></opene-error>
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'COMMON.EMAIL' | translate }} *</label>
                    <input name="email" type="email" ng-model="organization.email" required>
                    <opene-error form="orgForm" field="orgForm.email"></opene-error>
                </md-input-container>
            </div>
            <div layout ng-show="fullForm">
                <md-input-container flex>
                    <label>{{ 'ORG.ADDRESS_1' | translate }}</label>
                    <input type="text" name="addressLine1" ng-model="organization.addressLine1" ng-maxlength="34">
                    <opene-error form="orgForm" field="orgForm.addressLine1"></opene-error>
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'ORG.ADDRESS_2' | translate }}</label>
                    <input type="text" name="addressLine2" ng-model="organization.addressLine2" ng-maxlength="34">
                    <opene-error form="orgForm" field="orgForm.addressLine2"></opene-error>
                </md-input-container>
            </div>
            <div layout ng-show="fullForm">
                <md-input-container flex>
                    <label>{{ 'ORG.POSTAL_CODE' | translate }}</label>
                    <input type="number" name="postCode" ng-model="organization.postCode" ng-minlength="4" ng-maxlength="4">
                    <opene-error form="orgForm" field="orgForm.postCode"></opene-error>
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'ORG.CITY' | translate }}</label>
                    <input type="text" name="cityName" ng-model="organization.cityName" ng-maxlength="34">
                    <opene-error form="orgForm" field="orgForm.cityName"></opene-error>
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'ORG.COUNTRY' | translate }}</label>
                    <md-select ng-model="organization.countryCode" flex>
                        <md-option ng-value="countryCode" ng-repeat="countryCode in countries">{{ countryCode| countryCodeToName }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout ng-show="fullForm">
                <md-input-container flex>
                    <label>{{ 'ORG.PHONE' | translate }}</label>
                    <input type="text" name="phone" ng-model="organization.phone" ng-minlength="4" ng-pattern="PATTERNS.phone">
                    <opene-error form="orgForm" field="orgForm.phone"></opene-error>
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'ORG.MOBILE_PHONE' | translate }}</label>
                    <input type="text" name="mobile" ng-model="organization.mobile" ng-minlength="4" ng-pattern="PATTERNS.phone">
                    <opene-error form="orgForm" field="orgForm.mobile"></opene-error>
                </md-input-container>
            </div>
            <div layout ng-show="fullForm">
                <md-input-container flex>
                    <label>{{ 'ORG.WEBSITE' | translate }}</label>
                    <input type="text" name="website" ng-model="organization.website" ng-maxlength="70">
                    <opene-error form="orgForm" field="orgForm.website"></opene-error>
                </md-input-container>
            </div>
            <div layout ng-show="fullForm">
                <md-input-container flex>
                    <label>{{ 'ORG.LINKEDIN' | translate }}</label>
                    <input type="text" name="linkedin" ng-model="organization.linkedin" ng-maxlength="70">
                    <opene-error form="orgForm" field="orgForm.linkedin"></opene-error>
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'ORG.IM' | translate }}</label>
                    <input type="text" name="im" ng-model="organization.IM" ng-maxlength="70">
                    <opene-error form="orgForm" field="orgForm.im"></opene-error>
                </md-input-container>
            </div>
            <div layout ng-show="fullForm">
                <md-input-container flex>
                    <label>{{ 'NOTE.NOTES' | translate }}</label>
                    <textarea name="notes" ng-model="organization.notes" ng-maxlength="2000" rows="3"></textarea>
                    <opene-error form="orgForm" field="orgForm.notes"></opene-error>
                </md-input-container>
            </div>
            <div layout="column" ng-hide="fullForm" style="text-align: center;">
                <a href ng-click="fullForm = true;" class="oe_add_more">Add more information</a>
            </div>
        </md-dialog-content>

        <div class="md-actions" layout>
            <md-button type="submit" class="md-primary" ng-disabled="orgForm.$invalid" ng-click="save(orgForm)">
                {{ 'COMMON.SAVE' | translate }}
            </md-button>
            <md-button ng-click="cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </div>
    </form>
</md-dialog>
