<md-card ng-controller="OrganizationController as vm">
    <md-card-content>

        <div layout layout-align="space-between">
            <h3 class="md-title" flex ng-if="vm.showHeader">{{ 'ORG.ORGANIZATIONS' | translate }}</h3>

            <md-input-container flex="15">
                <label>{{ 'ORG.SEARCH_FOR_ORG' | translate }}</label>
                <input type="text" ng-model="vm.searchQuery" ng-model-options="{debounce: 300}" ng-change="vm.dataLoader.search(vm.searchQuery)">
            </md-input-container>
        </div>

        <div class="repeat-table">
            <div class="repeat-header" layout>
                <span layout flex>
                    <span class="r" flex="10">{{ 'COMMON.NAME' | translate }}</span>
                    <span class="r" flex="10">{{ 'ORG.CVR_NO' | translate }}</span>
                    <span class="r" flex="20">{{ 'ORG.DEPARTMENT' | translate }}</span>
                    <span class="r" flex="20">{{ 'ORG.STREET' | translate }}</span>
                    <span class="r" flex="10">{{ 'ORG.POSTAL_CODE' | translate }}</span>
                    <span class="r" flex="10">{{ 'ORG.CITY' | translate }}</span>
                    <span class="r" flex="10">{{ 'ORG.COUNTRY' | translate }}</span>
                </span>
            </div>
            <md-virtual-repeat-container md-auto-shrink>
                <div md-virtual-repeat="organization in vm.dataLoader" md-on-demand class="repeat-item">
                    <a class="r-rowlink" href ui-sref="administration.organization({'storeProtocol': organization.storeType, 'storeIdentifier': organization.storeId, 'uuid': organization.id})" layout="row">
                        <span class="r" flex="10">{{organization.organizationName}}</span>
                        <span class="r" flex="10">{{organization.cvrNumber}}</span>
                        <span class="r" flex="20"></span>
                        <span class="r" flex="20">{{organization.address}}</span>
                        <span class="r" flex="10">{{organization.postCode}}</span>
                        <span class="r" flex="10">{{organization.cityName}}</span>
                        <span class="r" flex="10">{{organization.countryCode ? (organization.countryCode | countryCodeToName) : null}}</span>
                    </a>
                </div>
            </md-virtual-repeat-container>
        </div>

        <div class="md-actions" ng-show="('can_create_contacts'|oeParam)">
            <md-button class="md-primary" ng-click="vm.showOrganizationEdit($event)"><i class="material-icons ng-scope">add</i> {{ 'ORG.CREATE_NEW_ORG' | translate }}</md-button>
        </div>
    </md-card-content>
</md-card>
