<app-header></app-header>

<md-content layout-padding>
    <h2>Contacts</h2>
</md-content>

<md-card>
    <md-card-content>
        <md-input-container>
            <label>Search for contacts</label>
            <input type="text" ng-model="vm.searchQuery" ng-change="vm.doFilter()">
        </md-input-container>
        
        <div ng-include="'app/src/contacts/view/sharedPersonsList.html'" ></div>
        
        <div style="margin: 0 8px; padding: 0 6px;">
            Showing {{vm.pagingParams.pageSize < vm.pagingParams.totalRecords ? vm.pagingParams.pageSize : vm.pagingParams.totalRecords}} of {{vm.pagingParams.totalRecords}}. Pages: 
            <button ng-repeat="page in vm.pages" ng-click="vm.doFilter(page);" style="margin: 0 2px;">{{page}}</button>
        </div>
    </md-card-content>
</md-card>