<md-card>
    <md-card-content>

        <a class="md-button md-primary" href="#/contacts">Back to contacts</a>

        <h1>Contact</h1>

        <div layout="row" layout-wrap>
            <div flex="50">
                <md-card>
                    <md-card-content>
                        <h3>Information</h3>
                        <form name="personForm">
                            <div ng-bind="vm.success" ng-show="vm.success"></div>
                            <div ng-bind="vm.error" ng-show="vm.error"></div>
                            <md-input-container>
                                <label>First Name</label>
                                <input type="text" ng-model="vm.person.firstName" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Middle Name</label>
                                <input type="text" ng-model="vm.person.middleName">
                            </md-input-container>
                            <md-input-container>
                                <label>Last Name</label>
                                <input type="text" ng-model="vm.person.lastName" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Address 1</label>
                                <input type="text" ng-model="vm.person.address" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Address 2</label>
                                <input type="text" ng-model="vm.person.addressLine1">
                            </md-input-container>
                            <md-input-container>
                                <label>Postal number</label>
                                <input type="number" ng-model="vm.person.postCode" required ng-minlength="4" ng-maxlength="4">
                            </md-input-container>
                            <md-input-container>
                                <label>City</label>
                                <input type="text" ng-model="vm.person.cityName" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Country</label>
                                <input type="text" ng-model="vm.person.countryCode" required>
                            </md-input-container>
                            <md-input-container>
                                <label>CPR number</label>
                                <input type="text" ng-model="vm.person.cprNumber" required ng-minlength="10" ng-maxlength="10">
                            </md-input-container>
                            <md-input-container>
                                <label>E-mail address</label>
                                <input name="email" type="email" ng-model="vm.person.email" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Phone</label>
                                <input type="text" ng-model="vm.person.phone" ng-minlength="4" ng-pattern="/^[+]?[0-9\- ]+$/">
                            </md-input-container>
                            <md-input-container>
                                <label>Website</label>
                                <input type="text" ng-model="vm.person.website">
                            </md-input-container>
                            <div class="md-actions" layout="row">
                                <md-button class="md-primary" ng-click="vm.doSave(personForm)">Save person</md-button>
                                <md-button class="md-primary" ng-disabled="true">Delete person</md-button>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-card-content>
</md-card>