<table>
    <thead>
        <th>{{ 'CONTACT.FIRST_NAME' | translate }}</th>
        <th>{{ 'CONTACT.LAST_NAME' | translate }}</th>
        <th>{{ 'CONTACT.DEPARTMENT' | translate }}</th>
        <th>{{ 'CONTACT.STREET' | translate }}</th>
        <th>{{ 'CONTACT.POSTAL_CODE' | translate }}</th>
        <th>{{ 'CONTACT.CITY' | translate }}</th>
        <th>{{ 'CONTACT.COUNTRY' | translate }}</th>
        <th>{{ 'COMMON.ACTIONS' | translate }}</th>
    </thead>
    <tbody>
        <tr ng-repeat="person in vm.persons.items">
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.department}}</td>
            <td>{{person.address}}</td>
            <td>{{person.postCode}}</td>
            <td>{{person.cityName}}</td>
            <td>{{person.countryCode| countryCodeToName}}</td>
            <td><md-button class="md-primary" ng-click="vm.showPersonEdit($event, person)">{{ 'COMMON.EDIT' | translate }}</md-button></td>
        </tr>
    </tbody>
</table>

<md-button class="md-primary" ng-click="vm.showPersonEdit($event, null)">{{ 'CONTACT.CREATE_NEW_CONTACT' | translate }}</md-button>