.global-tools {
    display: block;
    padding: 0 1rem;
    vertical-align: top;
}

.global-tools__links {
    display: inline-block;
}

.global-tools__user {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    padding: 0.5rem 0;
    
    .md-button {
        min-width: auto;
    }
}

.md-toolbar-tools__logo {
    display: block;
    float: left;
    height: 4.25rem;
    width: 4.25rem;
    padding: 0.75rem 1rem 0.75rem 0;
    border-right: solid 1px #fff;
    margin-right: 1rem;
}

.global-tools__link {
    min-width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 1rem;
    padding: 0;

    &.active {
        border-bottom: 2px solid #fff;
        border-radius: 0;
    }
}

.logged-in-user {
    @extend .muted;
    padding: 0.5rem 1rem;
    height: auto;
    min-height: auto;
}

.global-tools__search {
    display: inline-block;
	position: relative;
    vertical-align: middle;

    .global-tools__search__icon {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        color: rgba(0,0,0,0.25);
    }
    
    .single-line .label {
        display: inline-block;
        font-size: 0.8em;
        text-transform: uppercase;
        margin: 0;
        font-weight: 400;
    }   
    
	input {
		background: #fff;
		border-radius: 0.25em;
	}

	.md-subheader .md-subheader-inner {
	    padding: 8px 0px 8px 16px;
	}

	md-input-container {
		position: relative;
        margin: 0.75rem 0;

		.md-input {
			font-size: 0.8em;
            padding: 0.5rem 0.5rem 0.5rem 2rem;
		}
	}

	md-list-item {
		
		.md-avatar {
			border-radius: 0;
		}

		md-icon {
			color: #454545;
			font-size: 40px;
		}
	}

	md-whiteframe {
		
        width: 30rem;
        min-width: 100%;
		position: absolute; 
		top: 2.75rem;
        left: 0;
	    background-color: white; 
	    color: #000;
	}

	.activeSuggestion, 
	md-list-item:hover {
		cursor: pointer;
		background-color: #1E88E5;
	}

	.activeSuggestion h3,
	md-list-item:hover h3,
	.activeSuggestion p,
	md-list-item:hover p,
	md-list-item.activeSuggestion md-icon {
		color: #FFFFFF;
	}
}


@media screen and (max-width: 599px) {
    
    .md-toolbar-tools__logo {
        height: 3.75rem;
        width: 3.75rem;
    }
    
    .global-tools__link {
        padding: 0.75rem;
    }
    
    .global-tools__user {
        padding: 0.25rem;
    }
    
    .global-tools__search {
        display: block;
        padding: 0.5rem;
        margin: -0.25rem -1rem 0;
        background-color: #ddd;
        box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.15);
        
        md-input-container {
            width: 100%;
            margin: 0;
        }
    }
    
}


@media screen and (min-width: 600px) {

    .global-tools__search md-whiteframe {
        border-radius: 0.25rem;    
    }
    
    .global-tools__search {
        margin: 0 1rem;
    }
    
}


@media screen and (min-width: 600px) and (max-width: 960px) {

    .global-tools__search md-whiteframe {
        left: -8.5rem;
    }
    
}