<md-card>
    <md-card-content>
        <div layout layout-align="space-between center">
            <h3 class="md-title" flex>{{ 'NOTE.NOTES' | translate }}</h3>
            <div class="opene-toggleview">
                <md-button class="md-icon-button md-accent" ng-class="{active: caseNotes.layout == 'grid'}" ng-click="caseNotes.layout = 'grid'" title="{{ 'COMMON.GRID_VIEW' | translate }}"><i class="material-icons">view_module</i></md-button>
                <md-button class="md-icon-button md-accent" ng-class="{active: caseNotes.layout == 'list'}" ng-click="caseNotes.layout = 'list'" title="{{ 'COMMON.LIST_VIEW' | translate }}"><i class="material-icons">view_list</i></md-button>
            </div>
        </div>
        <div layout="row" layout-wrap ng-show="caseNotes.layout == 'grid'">
            <div ng-repeat="note in caseNotes.notes" flex="33" ng-click="caseNotes.editNote($event, note)" class="case-notes" layout-padding>
                <h4 style="margin-bottom: 0;" class="md-title">{{ note.headline}}</h4>
                <p>{{ note.content}}</p>
                <div style="font-size: 0.8em;" class="muted">
                    {{ 'COMMON.CREATED' | translate }} {{ note.created | openeDate }} {{ 'COMMON.BY' | translate }} {{ note.authorInfo.firstName + ' ' + note.authorInfo.lastName}}
                    <br>
                    <div ng-show="note.concernedPartiesInfo && note.concernedPartiesInfo.length > 0 ">{{ 'NOTE.RELATED' | translate }}:
                        <ol class="note_parties">
                            <li ng-repeat="relation in note.concernedPartiesInfo">{{ relation.name}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="caseNotes.layout == 'list'">
            <div class="repeat-table">
                <div class="repeat-header" layout="row">
                    <span class="r" flex="20" sort-table="headline">{{ 'NOTE.HEADLINE' | translate }}</span>
                    <span class="r" flex sort-table="content">{{ 'NOTE.CONTENT' | translate }}</span>
                    <span class="r" flex>{{ 'NOTE.RELATED' | translate }}</span>
                    <span class="r" flex="15" sort-table="created">{{ 'COMMON.CREATED' | translate }}</span>
                    <span class="r" flex="15" sort-table="authorInfo.firstName">{{ 'COMMON.CREATEDBY' | translate }}</span>
                </div>
                <md-virtual-repeat-container md-auto-shrink style="border-bottom:none">
                    <div md-virtual-repeat="note in caseNotes.notes | orderObjectBy:orderByAttribute:reverseOrder" class="repeat-item">
                        <a href class="layout-row r-rowlink" ng-click="caseNotes.editNote($event, note)">
                            <span class="r" flex="20">{{ note.headline }}</span>
                            <span class="r" flex>{{ note.content }}</span>
                            <span class="r" flex>
                                <span ng-repeat="concernedParty in note.concernedPartiesInfo">{{ concernedParty.name }}{{ $last ? '' : ', ' }}</span>
                            </span>
                            <span class="r muted" flex="15">{{ note.created }}</span>
                            <span class="r muted" flex="15">{{ note.authorInfo.firstName + ' ' + note.authorInfo.lastName }}</span>
                        </a>
                    </div>
                </md-virtual-repeat-container>
            </div>
        </div>
    </md-card-content>
    <div class="md-actions">
        <md-button class="md-primary" ng-click="caseNotes.newNote()" ng-disabled="caseCtrl.caseIsLocked">
            <i class="material-icons ng-scope">add</i> {{ 'NOTE.NEW_NOTE' | translate }}
        </md-button>
        <md-button class="md-primary" ng-disabled="true">{{ 'NOTE.PRINT_ALL_NOTES' | translate }}</md-button>
        <div style="float: right;" ng-show="caseNotes.pagingParams.totalRecords > 0">
            <span>{{caseNotes.pagingParams.getStartIndex()}} - {{caseNotes.pagingParams.getEndIndex()}} {{ 'COMMON.OF' | translate }} {{caseNotes.pagingParams.totalRecords}}</span>
            <span>
        <md-button ng-click="caseNotes.loadNotes(caseNotes.pagingParams.page - 1)" ng-disabled="!caseNotes.pagingParams.hasPreviousPage()" title="Previos page">&lt;</md-button>
        <md-button ng-click="caseNotes.loadNotes(caseNotes.pagingParams.page + 1)" ng-disabled="!caseNotes.pagingParams.hasNextPage()" title="Next page">&gt;</md-button>
      </span>
        </div>
    </div>
</md-card>
