<md-dialog class="dialog-large" aria-label="">
    <md-toolbar layout>
        <div class="md-toolbar-tools">
            <h2>{{dlg.workflowDef.title}}</h2>
        </div>
    </md-toolbar>
    
    <mt-wizard chevrons-always-visible="false" on-finish="dlg.submit()" on-cancel="dlg.cancel()" is-valid="dlg.isValid(currentStep)">
        
        <mt-wz-step class="workflowWizardStep">
            <form name="wfForm">
                <div ng-init="dlg.appendForm(wfForm)" layout>
                    <md-input-container flex="66">
                        <label>* {{'WORKFLOW.ASSIGNEES' | translate}}</label>
                        <md-chips ng-model="dlg.selectedRecipients" md-autocomplete-snap md-require-match="true">
                            <md-autocomplete
                                md-selected-item="dlg.selectedItem"
                                md-search-text="dlg.searchText"
                                md-items="item in dlg.searchRecipient()"
                                md-item-text="item.name"
                                md-min-length="0" 
                                md-no-cache="true"
                                md-icon=""
                                placeholder="{{ 'WORKFLOW.CHOOSE_ASSIGNEES'| translate }}">
                              <span md-highlight-text="dlg.searchText">{{item.name}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                              <span>
                                <strong>{{$chip.name}}</strong>
                              </span>
                            </md-chip-template>
                        </md-chips>
                    </md-input-container>
                    
                    <md-input-container flex="33">
                        <label>{{'WORKFLOW.REQUIRED_APPROVAL_PERCENTAGE.REQUIRED_APPROVAL_PERCENTAGE' | translate}}</label>
                        <input type="number" ng-model="dlg.requiredApprovalPercentage" name="requiredApprovalPercentage" min="1" max="100" value="50"/>
                    </md-input-container>
                </div>
                <ng-include src="'app/src/workflows/view/selectDueDatePriorityMessageSendEmail.html'"></ng-include>
            </form>
        </mt-wz-step>
        
        <mt-wz-step class="workflowWizardStep">
            <h3>{{"DOCUMENT.DOCUMENTS" | translate}}</h3>
            <case-docs-selector case-id="dlg.caseId" selected-docs="dlg.selectedDocuments" select-doc-node-refs="true"></case-docs-selector>
        </mt-wz-step>
        
    </mt-wizard>
</md-dialog>