<md-dialog class="dialog-large" aria-label="">
    <md-toolbar layout>
      <div class="md-toolbar-tools">
        <h2>{{dlg.workflowDef.title}}</h2>
      </div>
    </md-toolbar>
        <mt-wizard chevrons-always-visible="false" on-finish="dlg.submit()" on-cancel="dlg.cancel()" is-valid="dlg.isValid(currentStep)">
            
            <mt-wz-step class="workflowWizardStep">
                <form name="wfForm">
                    <div ng-init="dlg.appendForm(wfForm)" layout>
                        <div class="opene-autocomplete-wrapper" flex="66">
                            <opene-autocomplete datasource="dlg.selectedRecipient" controller-name="GenericWizardController" required="true" name="recipient" list="dlg.recipients" label="* {{'WORKFLOW.REVIEW_GROUP' | translate}}"></opene-autocomplete>
                            <opene-error form="wfForm" field="wfForm.recipient"></opene-error>
                        </div>

                        <md-input-container flex="33">
                            <label>{{'WORKFLOW.REQUIRED_APPROVAL_PERCENTAGE.REQUIRED_APPROVAL_PERCENTAGE' | translate}}</label>
                            <input type="number" ng-model="dlg.requiredApprovalPercentage" name="requiredApprovalPercentage" min="1" max="100" value="50"/>
                        </md-input-container>
                    </div>
                    
                    <ng-include src="'app/src/workflows/view/selectDueDatePriorityMessageSendEmail.html'"></ng-include>
                </form>
            </mt-wz-step>
            
            <mt-wz-step class="workflowWizardStep">
                <ng-include src="'app/src/workflows/view/selectCaseDocuments.html'"></ng-include>
            </mt-wz-step>
            
        </mt-wizard>
</md-dialog>