<app-header></app-header>

<md-content layout="column">
  
  <div class="sub-toolbar" layout-padding>
    <h1 class="md-headline">{{ 'ADMIN.ADMINISTRATION_PAGES' | translate }}</h1>
  </div>
      
  <md-tabs md-dynamic-height md-selected="currentTab">
    
    <md-tab>
      <md-tab-label>
        <span><i class="material-icons">person</i> {{ 'USER.USERS' | translate }}</span>
      </md-tab-label>
      <md-tab-body>
        <md-card>
          <md-card-content>
            <h2 class="md-title">{{ 'USER.USERS' | translate }}</h2>
            <table>
              <thead>
                <tr>
                  <th>{{ 'USER.USERNAME' | translate }}</th>
                  <th>{{ 'USER.FIRST_NAME' | translate }}</th>
                  <th>{{ 'USER.LAST_NAME' | translate }}</th>
                  <th>{{ 'COMMON.ACTION' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in vm.allSystemUsers">
                  <td>{{user.userName}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>
                    <md-button class="md-primary" ng-click="vm.editUser($event, user)" aria-label="Edit user">
                      {{ 'USER.EDIT_USER' | translate }}
                    </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-card-content>
          <div class="md-actions">
            <md-button class="md-primary" ng-click="vm.createUser($event)" aria-label="Create new user">
              {{ 'USER.CREATE_USER' | translate }}
            </md-button>
          </div>
        </md-card>
      </md-tab-body>
    </md-tab>
    
    <md-tab>
      <md-tab-label>
        <span><i class="material-icons">group</i> {{ 'GROUP.GROUPS' | translate }}</span>
      </md-tab-label>
      <md-tab-body layout="column">
        <div ng-include="'app/src/groups/view/groups.html'" ></div>
      </md-tab-body>
    </md-tab>
    
    <md-tab>
      <md-tab-label>
        <span><i class="material-icons">account_balance</i> {{ 'ORG.ORGANIZATIONS' | translate }}</span>
      </md-tab-label>
      <md-tab-body layout="column">
        <div ng-include="'app/src/contacts/view/organizations.html'" ></div>
      </md-tab-body>
    </md-tab>
  
    <md-tab>
      <md-tab-label>
        <span><i class="material-icons">perm_contact_calendar</i> {{ 'CONTACT.CONTACTS' | translate }}</span>
      </md-tab-label>
      <md-tab-body layout="column">
        <div ng-controller="PersonsController as vm">
          <div ng-include="'app/src/contacts/view/persons.html'" ></div>
        </div>
      </md-tab-body>
    </md-tab>
    
  </md-tabs>

</md-content>

<app-footer></app-footer>
