<app-header></app-header>

<md-content layout="column">
    <div class="sub-toolbar">
        <div layout-padding>
            <h1 class="md-headline">{{ 'ADMIN.ADMINISTRATION_PAGES' | translate }}</h1>
        </div>

    </div>

    <md-tabs md-dynamic-height md-selected="currentTab">

        <md-tab>
            <md-tab-label>
                <span><i class="material-icons">person</i> {{ 'USER.USERS' | translate }}</span>
            </md-tab-label>
            <md-tab-body>
                <div ng-controller="UsersController as vm">
                    <div ng-include="'app/src/users/view/users.html'"></div>
                </div>
            </md-tab-body>
        </md-tab>

        <md-tab>
            <md-tab-label>
                <span><i class="material-icons">group</i> {{ 'GROUP.GROUPS' | translate }}</span>
            </md-tab-label>
            <md-tab-body layout="column">
                <div ng-controller="GroupController as vm">
                    <div ng-include="'app/src/groups/view/groups.html'"></div>
                </div>
            </md-tab-body>
        </md-tab>

        <md-tab>
            <md-tab-label>
                <span><i class="material-icons">account_balance</i> {{ 'ORG.ORGANIZATIONS' | translate }}</span>
            </md-tab-label>
            <md-tab-body layout="column">
                <div ng-include="'app/src/contacts/view/organizations.html'"></div>
            </md-tab-body>
        </md-tab>

        <md-tab>
            <md-tab-label>
                <span><i class="material-icons">perm_contact_calendar</i> {{ 'CONTACT.CONTACTS' | translate }}</span>
            </md-tab-label>
            <md-tab-body layout="column">
                <div ng-controller="PersonsController as vm">
                    <div ng-include="'app/src/contacts/view/persons.html'"></div>
                </div>
            </md-tab-body>
        </md-tab>

    </md-tabs>

</md-content>

<app-footer></app-footer>
