<md-dialog aria-label="Case edit dialog">
  <form name="form">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>{{vm.dialogMode}} user</h2>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;min-width:20em;">
      <div layout="row">
        <md-input-container>
          <label>First Name</label>
          <input type="text" ng-model="user.firstName" required focus-me="true">
        </md-input-container>
        <md-input-container>
          <label>Last Name</label>
          <input type="text" ng-model="user.lastName" required focus-me="false">
        </md-input-container>
      </div>

        <md-input-container>
          <label>Email</label>
          <input type="text" ng-model="user.email" required focus-me="false">
        </md-input-container>

        <md-input-container>
          <label>User Name</label>
          <input type="text" ng-model="user.userName" required focus-me="false">
        </md-input-container>

        <!--TODO Need to make sure that the password fields match before allowing form submission-->
      <div layout="row">
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="user.password" required focus-me="false">
        </md-input-container>
        <md-input-container>
          <label>Verify Password</label>
          <input type="password" ng-model="user.verifypassword" required focus-me="false">
        </md-input-container>
      </div>
      
      <md-input-container>
        <label>Description</label>
        <textarea ng-model="user.desc"></textarea>
      </md-input-container>
      
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button type="submit" class="md-primary" ng-click="vm.update(user)" ng-disabled="form.$invalid">
        {{vm.dialogMode}} user
      </md-button>
      <md-button type="button" ng-click="vm.cancel(form)">
        Cancel
      </md-button>
    </div>
  </form>
</md-dialog>