body,
md-content {
  background-color: #ddd;
}

footer {
  padding: 1em;
}

md-tabs md-tabs-wrapper {
  background-color: #fff;
}

dt,
dd {
  margin: 0 0 1em 0;
}

table {
  width: 100%;
}

table th,
table td {
  border-bottom: solid 1px #ddd;
  text-align: left;
  padding: 0 0.5em 0 0;
}

table th {
  padding-bottom: 0.5em;
}

dt,
.muted,
table th {
  color: rgba(0,0,0,0.53);
}


/* Specific style classes and IDs */

#global-search input,
.sub-toolbar {
  background: #fff;
}

#global-search input {
  border-radius: 0.25em;
}
