body,
md-content {
  background-color: #ddd;
}

body > md-content {
    height: 100%;
}

md-content > div[layout] {
    height: 100%;
    min-height: auto;
}

footer {
  padding: 1em;
}

md-tabs md-tabs-wrapper {
  background-color: #fff;
}

dt,
dd {
  margin: 0 0 1em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border-bottom: solid 1px #ddd;
  text-align: left;
  padding: 0.5em;
}

table th {
  padding-bottom: 0.5em;
}

tr.muted {
  background-color: #eee;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover,
.clickable-row:focus {
  background-color: #eee;
}

.clickable-row:active {
  background-color: #ddd;
}

dt,
.muted,
table th,
.label {
  color: rgba(0,0,0,0.53);
}

input[type="file"] {
  margin: 0 0 1em;
}


/**********************************
* Specific style classes and IDs
***********************************/

#global-search input,
.sub-toolbar {
  background: #fff;
}

#global-search input {
  border-radius: 0.25em;
}

.label {
  display: block;
  margin: 1em 0 0.75em;
  font-size: 0.8em;
}


/* Login form */

.login-form {
    text-align: center;
}

.login-form md-input-container {
    text-align: left;
}

.login-form input[type=text],
.login-form input[type=password] {
    width: 300px;
}

/**********************************
* End Specific style classes and IDs
***********************************/


/**********************************
* Angular Material override styles
***********************************/

.md-datepicker-calendar-pane {
  max-width: 339px;
}

td .md-button {
  margin: 0;
}

.material-icons {
  vertical-align: middle;
}

md-chips-wrap {
  margin-bottom: 1em;
}

.workflowWizardStep {
	max-width:800px;
	max-height:531px;
	min-width:800px;
	min-height:531px;
}

/**********************************
* End Angular Material override styles
***********************************/
