body,
md-content {
  background-color: #ddd;
}

footer {
  padding: 1em;
}

md-tabs md-tabs-wrapper {
  background-color: #fff;
}

dt,
dd {
  margin: 0 0 1em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border-bottom: solid 1px #ddd;
  text-align: left;
  padding: 0.5em;
}

table th {
  padding-bottom: 0.5em;
}

tr.muted {
  background-color: #eee;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover,
.clickable-row:focus {
  background-color: #eee;
}

.clickable-row:active {
  background-color: #ddd;
}

dt,
.muted,
table th,
.label {
  color: rgba(0,0,0,0.53);
}

input[type="file"] {
  margin: 0 0 1em;
}

fieldset {
  border: none;
  border-top: solid 1px rgba(0,0,0,0.2);
  padding: 0;
  margin: 0 0 1em;
}

legend {
  margin: 0;
  padding: 0;
}


/* Specific style classes and IDs */

#global-search input,
.sub-toolbar {
  background: #fff;
}

#global-search input {
  border-radius: 0.25em;
}

.label {
  display: block;
  margin: 1em 0 0.75em;
  font-size: 0.8em;
}

.search-hits {
  color: rgba(0,0,0,0.54);
  padding: 0 0.25em;
}

.highlight {
  border-bottom: dotted 1px #000;
}


/* Virtual repeat lists */

.repeat-table md-virtual-repeat-container {
  height: 300px;
}
.repeat-table md-virtual-repeat-container,
.repeat-table .repeat-header,
.repeat-table .repeat-item {
  border-bottom: 1px solid #ddd;
}
.repeat-table .r {
  padding: 0.5em 1em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}
.repeat-table .repeat-header .r {
  color: rgba(0,0,0,0.54);
  font-weight: 700;
}
.repeat-table .r-rowlink {
  text-decoration: none;
  color: #000;
}
.repeat-table .r-rowlink:hover,
.repeat-table .r-rowlink:focus,
.repeat-table .r-rowlink:active {
  background-color: #eee;
}


/* Workflow */

table tr .collapse,
table tr .expand {
  display: block;
}
table tr .collapse:after {
    content: "\0025BC";
    display: block;
    color: #999;
    cursor: pointer;
}
table tr .expand:after {
    content: "\0025BA";
    display: block;
    color: #999;
    cursor: pointer;
}


/* Angular Material override styles */

.md-datepicker-calendar-pane {
  max-width: 339px;
}

td .md-button {
  margin: 0;
}

.material-icons {
  vertical-align: middle;
}

.md-chips {
  padding-bottom: 0;
  margin-bottom: 1em;
}

.md-chips .md-chip-input-container {
  padding-left: 0;
}

.md-contact-avatar,
.md-contact-suggestion img {
  display: none;
}

.workflowWizardStep {
	max-width:1000px;
	max-height:531px;
	min-width:400px;
	min-height:331px;
/*
  max-width:800px;
  max-height:531px;
  min-width:800px;
  min-height:531px;
  */
}

.md-checked .md-label {
  font-weight: 700;
}