body,
md-content {
  background-color: #ddd;
}

footer {
  padding: 1em;
  background-color: rgba(0,0,0,0.15);
}

md-tabs md-tabs-wrapper {
  background-color: #fff;
}

dt {
  color: #999;
  max-width: 7em;
  padding-top: 1em;
}
dd {
  padding-left: 8em;
  margin: 0;
}

table {
  width: 100%;
}

table th,
table td {
  border-bottom: solid 1px #ddd;
  text-align: left;
}

table th {
  color: #999;
}


/* Specific style classes */

.sub-toolbar {
  background: #fff;
}