body {
  background-color: #ddd;
}

#global-toolbar md-input-container input {
  
}

.label {
  background-color: #2196F3;
  display: inline-block;
  color: #fff;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  vertical-align: middle;
}

.updated {
  font-weight: bold;
}

md-tabs md-tabs-wrapper {
  background-color: #fff;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt {
  color: #999;
  float: left;
  width: 8em;
}

table {
  width: 100%;
}

table th,
table td {
  border-bottom: solid 1px #ddd;
  text-align: left;
}

table th {
  color: #999;
}